<% if (locals.flash.info) { %>
<div id="notification-wrapper" class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <span class="close-button">x</span>
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-body">
            <%=locals.flash.info%>
        </p>
    </div>
</div>
<% } %>
<h1 class="govuk-heading-xl govuk-!-margin-top-0 text-break">
    <span class="govuk-caption-xl"><%=locals.service.name%></span>
    <%= organisation.name %>
</h1>
<dl class="inline">
    <% if (organisation.LegalName) { %>
    <dt class="govuk-label">LegalName:</dt>
    <dd class="govuk-label"><%= organisation.LegalName || 'Not Recorded' %></dd>
    <% } %>

    <dt class="govuk-label">Address:</dt>
    <dd class="govuk-label"><%= organisation.address || 'Not Recorded' %></dd>
    
    <% if (organisation.type || organisation.providerTypeName) { %>
    <dt class="govuk-label">Type:</dt>
    <dd class="govuk-label"><%=(organisation.type ? organisation.type.name : organisation.providerTypeName)%></dd>
    <% } else if (organisation.category) { %>
    <dt class="govuk-label">Category:</dt>
    <dd class="govuk-label"><%=organisation.category.name%></dd>
    <% } %>

    <% if (organisation.urn) { %>
    <dt class="govuk-label">URN:</dt>
    <dd class="govuk-label"><%= organisation.urn %></dd>
    <% } %>

    <% if (organisation.uid) { %>
    <dt class="govuk-label">UID:</dt>
    <dd class="govuk-label"><%= organisation.uid %></dd>
    <% } %>
    
    <% if (organisation.ukprn) { %>
    <dt class="govuk-label">UKPRN:</dt>
    <dd class="govuk-label"><%= organisation.ukprn %></dd>
    <% } %>
    
    <% if (organisation.upin) { %>
    <dt class="govuk-label">UPIN:</dt>
    <dd class="govuk-label"><%= organisation.upin || 'Not Recorded' %></dd>
    <% } %>
    
    <% if (organisation.establishmentNumber) { %>
    <dt class="govuk-label">Establishment number:</dt>
    <dd class="govuk-label"><%= organisation.establishmentNumber %></dd>
    <% } %>

    <% if (organisation.localAuthority) { %>
    <dt class="govuk-label">Local authority:</dt>
    <dd class="govuk-label">
    <% if (organisation.localAuthority.name && organisation.localAuthority.code && organisation.localAuthority.id) { %>
            <dd class="govuk-label"><%= organisation.localAuthority.name %> (<%= organisation.localAuthority.code %>)</dd> 
    <% } else { %>
            Unknown
    <% } %>
    </dd>
    <% } %>

    <% if (organisation.legacyId) { %>
    <dt class="govuk-label">Legacy ID:</dt>
    <dd class="govuk-label"><%= organisation.legacyId || 'Unknown' %></dd>
    <% } %>

    <dt class="govuk-label">Status:</dt>
    <dd class="govuk-label"><%= organisation.status.name  || 'Unknown' %></dd>
</dl>  
