<div class="govuk-width-container govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l text-break govuk-!-margin-bottom-3">
                <span class="govuk-caption-l govuk-!-margin-bottom-3"><%= locals.service.name %></span>
                Select a sub-service for: <%= locals.service.name %>
            </h1>
            <p class="govuk-body text-break govuk-!-margin-top-2">This service, and selected sub-services or roles, will be added to the user's account, assigned to organisation: <b><%= locals.organisation.name %></b> </p>
   
            <form method="post">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                
                
                <div class="govuk-form-group <%= (locals.validationMessages.roles !== undefined) ? 'govuk-form-group--error' : '' %>">
                    <fieldset class="govuk-fieldset" id="roles">
                    <% if (locals.serviceRoles.length > 0) { %>
                    <% if (locals.validationMessages.roles !== undefined) { %>
                        <p id="validation-selected-role" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            <%=locals.validationMessages.roles%>
                        </p>
                    <% } %>


                    <table class="govuk-table govuk-!-margin-top-3">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row extra-padding govuk-grid-row">
                                <th scope="col" class="govuk-table__header width-10">Select</th>
                                <th scope="col" class="govuk-table__header width-90">Sub-service</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <% for (let i = 0; i < locals.serviceRoles.length; i++) { %>
                                <% const role = locals.serviceRoles[i]; %>
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell govuk-!-padding-top-5 govuk-!-padding-bottom-5">
                                        <div class="govuk-checkboxes__item">
                                            <input class="govuk-checkboxes__input" id="<%=role.id%>" type="checkbox" name="role" value="<%=role.id%>"
                                                    <% if (locals.selectedRoles.roles && locals.selectedRoles.roles.length > 0) {
                                                    for(let i = 0; i < locals.selectedRoles.roles.length; i++) {
                                                        const selectedRole = locals.selectedRoles.roles[i];
                                                    %>
                                                    <%= role.id === selectedRole ? 'checked': ''%><% } }%>>
                                            <label class="govuk-label govuk-checkboxes__label" for="<%=role.id%>"></label>                                                    
                                        </div>
                                    </td>
                                    <th scope="row" class="govuk-table__header govuk-table__cell">
                                        <label class="cursor-pointer" for="<%=role.id%>"><%=role.name%></label>
                                    </th>
                                </tr>
                            <% } %>

                        </tbody>
                    </table>
                    <% } else { %>
                        <legend class="govuk-fieldset__legend"><h2 class="heading-small">There are no available roles for <%=locals.service.name%></h2></legend>
                    <% } %>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
                <a href="<%= locals.cancelLink %>" class="govuk-button govuk-button--secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
