<div class="govuk-width-container govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">Add organisation</h1>
            <p class="govuk-body">Search for the organisation that you want the user to be associated with.</p>
        </div>
    </div>

    <%
    const paginationModel = {
        method: 'post',
        csrfToken,
        currentPage: locals.page,
        numberOfPages: locals.numberOfPages,
        totalNumberOfResults: locals.totalNumberOfResults,
        numberOfResultsOnPage: locals.organisations ? locals.organisations.length : 0,
        data: [
            { key: 'criteria', value: locals.criteria }
        ]
    }
    %>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <div class="search-field form-group <%= (locals.validationMessages.organisation !== undefined) ? 'form-group-error' : '' %>">
                <form method="post" id="form-organisation-search">
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-form-group">
                            <label for="criteria" class="govuk-label govuk-label--s govuk-visually-hidden">
                                Search by organisation name or unique identifier
                            </label>
                            <input
                                class="govuk-input govuk-!-width-three-quarters"
                                type="text"
                                id="criteria"
                                name="criteria"
                                value="<%= criteria %>"
                                placeholder="Search by organisation name or unique identifier" />
                            <button type="submit" class="govuk-button" data-module="govuk-button">
                                Search
                            </button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
<%if(organisations && organisations.length > 0) { %>
    <%if (numberOfPages > 1) { %>
        <%- include('../../layouts/pagination', paginationModel); %>
    <%}%>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <ol class="govuk-list search-results">
            <%for (let i = 0; i < organisations.length; i += 1) {%>
                <%const org = organisations[i];%>
                <%if (org.status.id !==2) { %>
                <li>
                    <article>
                        <h2 class="govuk-heading-m">
                            <form method="post">
                                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                                <input type="hidden" name="selectedOrganisation" value="<%=org.id%>" />
                                <button class="button-link"><%=org.name%></button>
                            </form>
                        </h2>
                        <dl class="inline govuk-summary-list--no-border">
                            <%if(org.urn) {%>
                            <dt>URN</dt>
                            <dd class="govuk-summary-list__value gov"><%=org.urn%></dd>
                            <%} else if(org.uid) {%>
                            <dt>UID</dt>
                            <dd class="govuk-summary-list__value"><%=org.uid%></dd>
                            <%}%>

                            <dt>Address</dt>
                            <dd class="govuk-summary-list__value"><%=org.address%></dd>

                            <%if(org.type || org.category) {%>
                            <dt>Type</dt>
                            <dd class="govuk-summary-list__value">
                                <%=(org.type ? org.type.name : org.category.name)%>
                            </dd>
                            <%}%> <% if (org.status && org.status.name) { %>
                            <dt>Status</dt>
                            <dd class="govuk-summary-list__value"><%=org.status.name%></dd>
                            <% } %>
                        </dl>
                    </article>
                </li>
                <% } %>
            <% } %>
            </ol>
        </div>
    </div>

    <%if (numberOfPages > 1) { %>
        <%- include('../../layouts/pagination', paginationModel); %>
    <%}%>
    
<%} else if (organisations && organisations.length === 0) { %>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <div class="empty-state">
                <p class="govuk-body">No organisations found matching search criteria</p>
            </div>
        </div>
    </div>

<% } %>
            
</div>
