<div class="govuk-width-container govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">Select roles</h1>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">User</dt>
                    <dd class="govuk-summary-list__value"><%= locals.user %></dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Organisation</dt>
                    <dd class="govuk-summary-list__value"><%= locals.organisation %></dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Service</dt>
                    <dd class="govuk-summary-list__value"><%= locals.service %></dd>
                </div>
            </dl>

            <form method="post">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                <div class="govuk-form-group <%= (locals.validationMessages.roles !== undefined) ? 'govuk-form-group--error' : '' %>">
                    <fieldset class="govuk-fieldset" id="roles">
                        <% if (locals.validationMessages.roles !== undefined) { %>
                        <p id="validation-selected-role" class="govuk-error-message">
                            <span class="govuk-visually-hidden">There is a problem</span>
                            <%-locals.validationMessages.roles%>
                        </p>
                        <% } %> <% if (locals.serviceRoles.length > 0) { %>
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                           Select all required roles
                        </legend>

                        <% for (let i = 0; i < locals.serviceRoles.length; i++) { %> 
                            <% const role = locals.serviceRoles[i]; %>
                        <div class="govuk-checkboxes__item">
                            <input
                                class="govuk-checkboxes__input"
                                id="<%=role.id%>"
                                type="checkbox"
                                name="role"
                                value="<%=role.id%>"
                                <%
                                if
                                (locals.selectedRoles
                                &&
                                locals.selectedRoles.length > 0) { for (let i = 0; i < locals.selectedRoles.length; i++) { const selectedRole =locals.selectedRoles[i]; %> <%= role.id === selectedRole ? 'checked': ''%><% } }%>>
                            <label class="govuk-label govuk-checkboxes__label" for="<%=role.id%>"><%=role.name%></label>
                        </div>
                        <% } %> 
                        <% } else { %>
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h2 class="govuk-fieldset__legend__heading govuk-heading-s">
                                There are no available roles for <%= locals.service %>.
                            </h2>
                        </legend>
                        <% } %>
                    </fieldset>
                </div>
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
                    <a href="<%= locals.cancelLink %>" class="govuk-button govuk-button--secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
