<div class="govuk-width-container govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">
                Confirm resend invitation email
            </h1>
            <p class="govuk-body">Please confirm the email address before resending an invitation to <%=locals.user.name%>.</p>
            <form method="post" id="form-resend-invitation">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                <fieldset class="govuk-fieldset" id="fieldset-resend-invitation">
                    <legend class="govuk-visually-hidden">Edit <%=locals.user.name%>&apos;s email address</legend>
                    <div class="govuk-form-group <%= (locals.validationMessages.email !== undefined) ? 'govuk-form-group--error' : '' %>">

                        <label class="govuk-label govuk-label--s" for="email">Email address </label>
                        <% if (locals.validationMessages.email !== undefined) { %>
                        <p id="validation-redirect_uris" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            <%=locals.validationMessages.email %>
                        </p>
                        <% } %>
                        <input class="govuk-input govuk-!-width-three-quarters" id="email" name="email" type="text" <% if (locals.validationMessages.email !== undefined) { %> aria-invalid="true" aria-describedby="validation-email" <% } %> value="<%=email%>">
                    </div>
                </fieldset>
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">Submit</button>
                    <a href="organisations" class="govuk-button govuk-button--secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
