<div class="govuk-width-container govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-xl govuk-!-margin-top-0 text-break">
        <span class="govuk-caption-xl"><%=locals.service.name%></span>
            Review new policy
      </h1>
      <p class="govuk-body">
          Review these details before creating the new policy. 
      </p>
      <p class="govuk-body">
          <strong>You will be able to add additional roles and conditions to the policy once it has been created.</strong>
      </p>
      <h2 class="govuk-heading-m">Review new policy details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            <%= model.name %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="create-new-policy-name">Change<span class="govuk-visually-hidden"> name</span></a>
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">Role</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
              <%= model.role.roleName %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="create-new-policy-role">Change<span class="govuk-visually-hidden"> role name</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Code
          </dt>
          <dd class="govuk-summary-list__value">
              <%= model.role.roleCode %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="create-new-policy-role">Change<span class="govuk-visually-hidden"> role code</span></a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Condition</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Condition
          </dt>
          <dd class="govuk-summary-list__value">
              <%= model.condition.condition %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="create-new-policy-condition">Change<span class="govuk-visually-hidden"> condition</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Operator
          </dt>
          <dd class="govuk-summary-list__value">
              <%= model.condition.operator %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="create-new-policy-condition">Change<span class="govuk-visually-hidden"> condition operator</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Value
          </dt>
          <dd class="govuk-summary-list__value">
              <%= model.condition.value %>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="create-new-policy-condition">Change<span class="govuk-visually-hidden"> condition value</span></a>
          </dd>
        </div>
      </dl>
      <form method="post">
        <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
        <div class="govuk-button-group">
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Create service
          </button>
          <a class="govuk-button govuk-button--secondary" href="<%= locals.cancelLink %>">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>
