<div class="govuk-width-container govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl govuk-!-margin-top-0 text-break">
                <span class="govuk-caption-xl"><%=locals.service.name%></span>
                Create new policy
            </h1>
        </div>
    </div>
    <form method="post" class="prevent-form-double-submission" id="form-new-policy-role">
        <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
    
        <fieldset class="govuk-fieldset" id="fieldset-new-policy-role">
            <legend class="govuk-visually-hidden">Create policy for <%= locals.service.name %></legend>
        
            <div class="govuk-form-group <%= (locals.validationMessages.name !== undefined) ? 'govuk-form-group--error' : '' %>">
                <label class="govuk-label govuk-label--s" for="name">Policy name</label>
            <% if (locals.validationMessages.name !== undefined) { %>
                <p id="validation-name" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.name%>
                </p>
            <% } %>
                <input type="text" id="name" name="name" value="<%=locals.name%>" class="govuk-input govuk-!-width-three-quarters" <% if (locals.validationMessages.name) { %> aria-invalid="true" aria-describedby="validation-name" <% } %>>
            </div>

            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
                <a href="<%=locals.cancelLink%>" class="govuk-button govuk-button--secondary">Cancel</a>
            </div>
        </fieldset>
    </form>
</div>
