<div id="home-top" class="home-top">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl govuk-!-margin-top-5 govuk-!-margin-bottom-5">DfE Manage</h1>
                <p class="govuk-body-l govuk-!-margin-bottom-2">
                    Support your service’s users and configure your service.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="govuk-width-container govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <% if (locals.flash.title && locals.flash.heading && locals.flash.message) { %>
                <div id="notification-wrapper" class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <span class="close-button">x</span>
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            <%= locals.flash.title %>
                        </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <h3 class="govuk-notification-banner__heading">
                            <%= locals.flash.heading %>
                        </h3>
                        <p class="govuk-body">
                            <%= locals.flash.message %>
                        </p>
                    </div>
                </div>
        <% } %>
            <h1 id="service-name" class="govuk-heading-xl govuk-!-margin-top-0">
                <%=locals.serviceDetails.name%>
            </h1>
        </div>
        <!-- side menu with related actions -->
        <div class="govuk-grid-column-one-quarter">
            <aside id="related-actions" class="govuk-!-margin-top-0">
                <h2 class="govuk-heading-m">Related actions</h2>
                <nav aria-label="Related actions">
                    <ul class="govuk-list">
                        <li>
                            <a id="change-service" class="govuk-link-bold" href="/">Change service</a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    </div>
    <% if (locals.userRoles.includes('serviceSup')) { %>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-m govuk-!-margin-bottom-0">Support your service’s users</h1>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-1" />
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="manage-cards">
                    <div class="manage-card">
                        <h3 class="govuk-heading-s">
                            <a id="user-management" class="govuk-link-bold" href="<%=locals.serviceId %>/users"
                                >User management</a
                            >
                        </h3>
                        <p class="govuk-body">Manage and invite users to your service.</p>
                    </div>
    
                    <div class="manage-card">
                        <h3 class="govuk-heading-s">
                            <a id="organisation-search" class="govuk-link-bold" href="<%=locals.serviceId %>/organisations"
                                >Organisation search</a
                            >
                        </h3>
                        <p class="govuk-body">Search for an organisation</p>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-m govuk-!-margin-bottom-0">View and configure your service</h1>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-1" />
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="manage-cards">
                <% if (locals.userRoles.includes('serviceconfig') || locals.userRoles.includes('serviceSup') || locals.userRoles.includes('accessManage') || locals.userRoles.includes('serviceBanner')) { %>
                    <div class="manage-card">
                        <h3 class="govuk-heading-s">
                            <a
                                id="service-info"
                                class="govuk-link-bold"
                                href="<%=locals.serviceId%>/service-information"
                                >View service information</a
                            >
                        </h3>
                        <p class="govuk-body">View the name and description of your service.</p>
                    </div>

               <% } %> <% if (locals.userRoles.includes('serviceconfig')) { %>
                <div class="manage-card">
                    <h3 class="govuk-heading-s">
                        <a
                            id="service-configuration"
                            class="govuk-link-bold"
                            href="<%=locals.serviceId%>/service-configuration"
                            >Service configuration</a
                        >
                    </h3>
                    <p class="govuk-body">See your service configuration information.</p>
                </div>

                <% } %> <% if (locals.userRoles.includes('accessManage')) { %>

                <div class="manage-card">
                    <h3 class="govuk-heading-s">
                        <a id="manage-policies" class="govuk-link-bold" href="<%= locals.serviceId %>/policies"
                            >Manage policies</a
                        >
                    </h3>
                    <p class="govuk-body">
                        Change your service policies to determine who can and cannot access your service.
                    </p>
                </div>
                <% } %>

                <% if (locals.userRoles.includes('accessManage') && locals.serviceDetails.isIdOnlyService === false) { %>

                <div class="manage-card">
                    <h3 class="govuk-heading-s">
                        <a id="manage-roles" class="govuk-link-bold" href="<%= locals.serviceId %>/roles">Service roles</a>
                    </h3>
                    <p class="govuk-body">
                        View service roles and linked policies.
                    </p>
                </div>
                <% } %> 
                

                <% if (locals.userRoles.includes('serviceBanner')) { %>
                <div class="manage-card">
                    <h3 class="govuk-heading-s">
                        <a id="service-banner" class="govuk-link-bold" href="<%=locals.serviceId%>/service-banners">Create service banner</a>
                    </h3>
                    <p class="govuk-body">
                        Create a banner about your service that will be shown to users on DfE Sign-in.
                    </p>
                </div>
                <% } %>

            </div>
        </div>
    </div>
</div>
