<div id="home-top" class="home-top">
    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl govuk-!-margin-top-5 govuk-!-margin-bottom-5">DfE Manage</h1>
                <h3 class="govuk-heading-m">
                    Here you can manage and configure your service and its policies, as well as determine who has access
                    to your service.
                </h3>
            </div>
        </div>
    </div>
</div>
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <div class="row">
                <div class="col-8">
                    <h1 id="service-name" class="govuk-heading-xl govuk-!-margin-top-5">
                        <%=locals.serviceDetails.name%>
                    </h1>
                </div>
            </div>
        </div>
        <!-- side menu with related actions -->
        <div class="govuk-grid-column-one-quarter">
            <aside id="related-actions">
                <h2 class="govuk-heading-m">Related actions</h2>
                <ul class="govuk-list">
                    <li>
                        <h3 class="govuk-heading-s">
                            <a id="change-service" class="govuk-link-bold" href="/">Change service</a>
                        </h3>
                    </li>
                </ul>
            </aside>
        </div>
    </div>

    <div class="govuk-grid-row">
        <h1 class="govuk-heading-m govuk-!-margin-bottom-0">Set up and configure your service</h1>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-1" />
    </div>

    <div class="govuk-grid-row">
        <div class="col-12">
            <div class="manage-cards">
                <% if (locals.userRoles.includes('serviceconfig')) { %>
                <div class="manage-card">
                    <h3 class="govuk-heading-s">
                        <a
                            id="service-configuration"
                            class="govuk-link-bold"
                            href="<%=locals.serviceId%>/service-configuration"
                            >Service configuration</a
                        >
                    </h3>
                    <p class="govuk-body">See your service configuration information.</p>
                </div>

                <% } %> <% if (locals.userRoles.includes('accessManage')) { %>

                <div class="manage-card">
                    <h3 class="govuk-heading-s">
                        <a id="manage-policies" class="govuk-link-bold" href="<%= locals.serviceId %>/policies"
                            >Manage policies</a
                        >
                    </h3>
                    <p class="govuk-body">
                        Change your service policies to determine who can and cannot access your service.
                    </p>
                </div>
                <% } %>

                <!-- TODO: - add after the Manage Roles functionality in place -->
                <!-- <% if (locals.userRoles.includes('accessManage')) { %>

                <div class="manage-card">
                    <h3 class="govuk-heading-s">
                        <a id="manage-roles" class="govuk-link-bold" href="<%= locals.serviceId %>/roles">Manage roles</a>
                    </h3>
                    <p class="govuk-body">
                        Change your service roles to provide different levels of access to your service.
                    </p>
                </div>
                <% } %> 
                 -->

                <% if (locals.userRoles.includes('serviceBanner')) { %>
                <div class="manage-card">
                    <h3 class="govuk-heading-s">
                        <a id="service-banner" class="govuk-link-bold" href="<%=locals.serviceId%>/service-banners">Create service banner</a>
                    </h3>
                    <p class="govuk-body">
                        Create a banner about your service that will be shown to users on DfE Sign-in.
                    </p>
                </div>
                <% } %>

                <!-- TODO: update after Service Configuration functionality in place -->
                <!--  <% if (locals.userRoles.includes('serviceconfig')) { %>
                <div class="manage-card">
                    <h3 class="govuk-heading-s">
                        <a class="govuk-link-bold" href="<%=locals.serviceId%>/service-configuration"
                            >Update service description</a
                        >
                    </h3>
                    <p class="govuk-body">Create or modify your service's description.</p>
                </div>
                <% } %> -->
            </div>
        </div>
    </div>
    <% if (locals.userRoles.includes('serviceSup')) { %>
    <div class="govuk-grid-row">
        <h1 class="govuk-heading-m govuk-!-margin-bottom-0">Manage your service's users</h1>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-top-1" />
    </div>
    <div class="govuk-grid-row">
        <div class="col-12">
            <div class="manage-cards">
                <div class="manage-card">
                    <h3 class="govuk-heading-s">
                        <a id="user-management" class="govuk-link-bold" href="<%=locals.serviceId %>/users"
                            >User management</a
                        >
                    </h3>
                    <p class="govuk-body">Manage those who use your service and invite new users.</p>
                </div>

                <div class="manage-card">
                    <h3 class="govuk-heading-s">
                        <a id="organisation-search" class="govuk-link-bold" href="<%=locals.serviceId %>/organisations"
                            >Organisation search</a
                        >
                    </h3>
                    <p class="govuk-body">Search for an organisation</p>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>
