<div class="govuk-width-container govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                Confirm delete banner
            </h1>
            <p class="govuk-body">Confirm that you want to permanently delete this banner.</p>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Banner name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%=locals.serviceBanners.name%>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Banner title
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%=locals.serviceBanners.title%>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Banner message
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%=locals.serviceBanners.message%>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Status
                    </dt>
                    <dd class="govuk-summary-list__value">
                    <% if (locals.serviceBanners.isActive) { %>
                        Always show this banner until I stop it
                    <% } else if (locals.serviceBanners.validFrom && locals.serviceBanners.validTo) { %>
                        Display banner from <%= locals.serviceBanners.formattedValidFrom %> to <%=locals.serviceBanners.formattedValidTo%>
                    <% } else { %>
                        Not active
                    <% } %>
                    </dd>
                </div>
            </dl>
            <form method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button govuk-button--warning" data-module="govuk-button">Delete</button>
                    <a href="<%=locals.cancelLink%>" class="govuk-button govuk-button--secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
