<div class="govuk-width-container govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l text-break">
                Edit service info for <%= locals.service.name %>
            </h1>
            <p class="govuk-body">Review these details before confirming.</p>

            <form method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                            <form method="post" class="prevent-form-double-submission" id="form-new-banner">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />

                <fieldset class="govuk-fieldset" id="fieldset-new-banner">
                    <legend class="govuk-visually-hidden">Edit service info</legend>
                    <div class="govuk-form-group <%= (locals.validationMessages.name !== undefined) ? 'govuk-form-group--error' : '' %>">
                        <label class="govuk-label govuk-label--s" for="name">Name</label>
                    <% if (locals.validationMessages.name !== undefined) { %>
                        <p id="validation-name" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.name %>
                        </p>
                    <% } %>
                        <input type="text" id="name" name="name" value="<%=locals.service.name%>" class="govuk-input govuk-!-width-three-quarters" maxlength="20"<% if (locals.validationMessages.name) { %> aria-invalid="true" aria-describedby="validation-name" <% } %>>
                    </div>

                    <div class="govuk-form-group <%= (locals.validationMessages.description !== undefined) ? 'govuk-form-group--error' : '' %>">
                        <label class="govuk-label govuk-label--s" for="description">Description</label>
                    <% if (locals.validationMessages.description !== undefined) { %>
                        <p id="validation-description" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.description %>
                        </p>
                    <% } %>
                        <textarea type="text" id="description" name="description" class="govuk-textarea govuk-!-width-three-quarters" rows="4" maxlength="400"<% if (locals.validationMessages.description) { %> aria-invalid="true" aria-describedby="validation-description" <% } %>><%=locals.service.description%></textarea>
                    </div>
                </fieldset>
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">Save</button>
                    <a href="<%= locals.cancelLink %>" class="govuk-button govuk-button--secondary">Cancel</a>
                </div>
            </form>

        </div>
    </div>
</div>
