<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl">
            Edit service
            </h1>
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    User
                </dt>
                <dd class="govuk-summary-list__value">
                    <%= locals.user.firstName %> <%= locals.user.lastName %>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Organisation
                </dt>
                <dd class="govuk-summary-list__value">
                    <%=locals.organisation.name%>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Service
                </dt>
                <dd class="govuk-summary-list__value">
                    <%= locals.service.name%>
                </dd>
            </div>
        </dl>
        <% if (locals.serviceRoles.length > 0) { %>
        <form method="post">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            <div class="govuk-form-group <%= (locals.validationMessages.roles !== undefined) ? 'govuk-form-group--error' : '' %>">
                <fieldset class="govuk-fieldset" id="roles">
                    <% if (locals.validationMessages.roles !== undefined) { %>
                        <span id="validation-selected-role" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        <%=locals.validationMessages.roles%>
                            </span>
                            <% } %> <% if (locals.serviceRoles.length > 0) { %>
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xs">
                                <p class="govuk-body">Select all required roles</p>
                            </legend>
                      <% } %> 
                        
                        <% for (let i = 0; i < locals.serviceRoles.length; i++) { %>
                            <% const role = locals.serviceRoles[i]; %>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="<%=role.id%>" type="checkbox" name="role" value="<%=role.id%>"
                                        <% if (locals.service.roles.length > 0) {
                                        for (let i = 0; i < locals.service.roles.length; i++) {
                                            const existingRole = locals.service.roles[i];
                                        %>
                                        <%= role.id === existingRole.id ? "checked" : ""%><% } }%>>
                                <label class="govuk-label govuk-checkboxes__label" for="<%=role.id%>"><%=role.name%></label>
                            </div>
                        <% } %>
                </fieldset>
            </div>

            <div class="govuk-button-group">
                <button type="submit" class="govuk-button">Save</button>
                <a href="<%= locals.cancelLink %>" class="govuk-button govuk-button--secondary">Cancel</a>
            </div>

        </form>
        <% } else { %>
            <legend class="govuk-fieldset__legend"><h2 class="heading-small">There are no available roles for <%= locals.service.name %>.</h2></legend>
        <% } %>
    </div>

    <div class="govuk-grid-column-one-quarter ">
        <aside id="actions" class="govuk-!-margin-top-9">
            <h2 class="govuk-heading-m">Actions</h2>
            <ul class="govuk-list">
                <li>
                    <h3 class="govuk-heading-s">
                        <a class="govuk-link-bold" href="<%= locals.organisation.id %>/remove-service">Remove service</a>
                   </h3>
                </li>
            </ul>
        </aside>
    </div>
</div>
