<div class="govuk-width-container govuk-main-wrapper">
    <% if (locals.flash.info) { %>
        <div id="notification-wrapper" class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <span class="close-button">x</span>
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Success
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-body">
                    <%=locals.flash.info%>
                </p>
            </div>
        </div>
    <% } %>
    
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl govuk-!-margin-top-0 text-break">
                <span class="govuk-caption-xl"><%=locals.serviceDetails.name%></span>
                Manage policies
            </h1>
        </div>
    </div>

    <%
    const paginationModel = {
        method: 'post',
        csrfToken,
        currentPage: locals.page,
        numberOfPages: locals.numberOfPages,
        totalNumberOfResults: locals.totalNumberOfResults,
        numberOfResultsOnPage: locals.policies.length,
        data: [
            { key: 'criteria', value: locals.criteria },
            { key: 'sort', value: locals.sortBy },
            { key: 'sortDir', value: locals.sortOrder },
            { key: 'showFilters', value: locals.showFilters }
        ]
    }
    %>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
        </div>
        <%  if (locals.canUserModifyPolicyConditionsAndRoles) { %>
            <ul class="govuk-list">
                <li>
                    <a class="govuk-link" href="policies/create-new-policy-name">
                        Create Policy
                    </a>
                </li>
            </ul>
        <% } %>
    </div>

    <div class="govuk-grid-row govuk-!-margin-top-6">
        <div class="govuk-grid-column-full">
            <%- include('../../layouts/pagination', paginationModel); %>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row sortable">
                        <th scope="col" class="govuk-table__header width-55">Name</th>
                        <th scope="col" class="govuk-table__header width-20">Roles</th>
                        <th scope="col" class="govuk-table__header width-20">Conditions</th>
                        <th scope="col" class="govuk-table__header width-5 govuk-table__header--numeric">Status</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                <% if (locals.policies.length === 0) { %>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" colspan="4">
                            <div class="empty-state">
                                <p class="govuk-body">No policies found for service</p>
                            </div>
                        </td>
                    </tr>
                <% } %>
                <% for (let i = 0; i < locals.policies.length; i++) {
                    const policy = locals.policies[i];
                %>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <a class="govuk-link" href="policies/<%= policy.id %>/conditionsAndRoles"><%= policy.name %></a>
                        </td>
                        <td class="govuk-table__cell"><%= policy.roles.length %></td>
                        <td class="govuk-table__cell"><%= policy.conditions.length %></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"><%= policy.status.id ===  1 ? 'Active' : 'Inactive'%></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
            <%- include('../../layouts/pagination', paginationModel); %>
        </div>
    </div>
</div>
