<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">Create banner</h1>
    </div>
</div>

<div class="grid-row">
    <div class="col-12">
        <form method="post" id="form-new-banner">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
            <div class="form-group <%= (locals.validationMessages.name !== undefined) ? 'form-group-error' : '' %>">
                <label class="form-label" for="bannerName">Banner name</label>
                <% if (locals.validationMessages.name !== undefined) { %>
                    <p class="error-message" id="validation-name"><%= locals.validationMessages.name %></p>
                <% } %>
                <input class="form-control" id="bannerName" name="bannerName" maxlength="20" value="<%=locals.name%>">
            </div>
            <div class="form-group <%= (locals.validationMessages.title !== undefined) ? 'form-group-error' : '' %>">
                <label class="form-label" for="bannerTitle">Banner title</label>
                <% if (locals.validationMessages.title !== undefined) { %>
                    <p class="error-message" id="validation-title"><%= locals.validationMessages.title %></p>
                <% } %>
                <input class="form-control" id="bannerTitle" name="bannerTitle" maxlength="80" value="<%=locals.bannerTitle%>">
            </div>
            <div class="form-group <%= (locals.validationMessages.message !== undefined) ? 'form-group-error' : '' %>">
                <label class="form-label" for="bannerMesssage">
                    Banner message
                </label>
                <% if (locals.validationMessages.message !== undefined) { %>
                    <p class="error-message" id="validation-message"><%= locals.validationMessages.message %></p>
                <% } %>
                <textarea class="form-control " name="bannerMesssage" id="bannerMesssage" rows="4" maxlength="400"><%=locals.message%></textarea>
            </div>

            <div class="form-group">
                <fieldset>
                    <legend>
                        When do you want this banner to be displayed?
                    </legend>
                    <div class="multiple-choice">
                        <input id="notActive" type="radio" name="bannerDisplay" value="notActive" <%=locals.bannerDisplay === 'notActive' ? 'checked' : ''%>>
                        <label for="notActive">I don't know yet</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="alwayson" type="radio" name="bannerDisplay" value="isActive" <%=locals.bannerDisplay === 'isActive' ? 'checked' : ''%>>
                        <label for="alwayson">Always show this banner until I stop it</label>
                    </div>
                    <div class="multiple-choice" data-target="date">
                        <input id="date-radio" type="radio" name="bannerDisplay" value="date" <%=locals.bannerDisplay === 'date' ? 'checked' : ''%>>
                        <label for="date-radio">Only display this banner between a specific date and time</label>
                    </div>
                </fieldset>
                <div class="panel panel-border-narrow js-hidden form-date" id="date">
                    <div class="row row-spacer">
                        <div class="col-12">
                            <p>From date</p>
                            <div class="form-group form-date">
                                <label class="form-label" for="fromDay">Day</label>
                                <input id="fromDay" name="fromDay" type="number" value="<%=locals.fromDay%>">
                            </div>

                            <div class="form-group form-date">
                                <label class="form-label" for="fromMonth">Month</label>
                                <input id="fromMonth" name="fromMonth" type="number" value="<%=locals.fromMonth%>">
                            </div>

                            <div class="form-group form-group-year">
                                <label class="form-label" for="fromYear">Year</label>
                                <input id="fromYear" name="fromYear" type="number" value="<%=locals.fromYear%>">
                            </div>

                            <div class="form-group form-date">
                                <label class="form-label" for="fromHour">Hour</label>
                                <input id="fromHour" name="fromHour" type="number" value="<%=locals.fromHour%>">
                            </div>
                            <div class="form-group form-date">
                                <label class="form-label" for="fromMinute">Minute</label>
                                <input id="fromMinute" name="fromMinute" type="number" value="<%=locals.fromMinute%>">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>To date</p>
                            <div class="form-group form-date">
                                <label class="form-label" for="toDay">Day</label>
                                <input id="toDay" name="toDay" type="number" value="<%=locals.toDay%>">
                            </div>

                            <div class="form-group form-date">
                                <label class="form-label" for="toMonth">Month</label>
                                <input id="toMonth" name="toMonth" type="number" value="<%=locals.toMonth%>">
                            </div>

                            <div class="form-group form-group-year">
                                <label class="form-label" for="toYear">Year</label>
                                <input id="toYear" name="toYear" type="number" value="<%=locals.toYear%>">
                            </div>

                            <div class="form-group form-date">
                                <label class="form-label" for="toHour">Hour</label>
                                <input id="toHour" name="toHour" type="number" value="<%=locals.toHour%>">
                            </div>
                            <div class="form-group form-date">
                                <label class="form-label" for="toMinute">Minute</label>
                                <input id="toMinute" name="toMinute" type="number" value="<%=locals.toMinute%>">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-submit submit-buttons">
                <button type="submit" class="button">Save</button>
                <a href="./" class="button button-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
