<div class="govuk-width-container govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">
                <%= locals.isEditExisting ? 'Edit banner' : 'Create banner'%>
            </h1>
            <form method="post" class="prevent-form-double-submission" id="form-new-banner">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
            
                <fieldset class="govuk-fieldset" id="fieldset-new-banner">
                    <legend class="govuk-visually-hidden"><%= locals.isEditExisting ? 'Edit banner' : 'Create banner'%></legend>
                
                    <div class="govuk-form-group <%= (locals.validationMessages.bannerName !== undefined) ? 'govuk-form-group--error' : '' %>">
                        <label class="govuk-label govuk-label--s" for="bannerName">Name</label>
                    <% if (locals.validationMessages.bannerName !== undefined) { %>
                        <p id="validation-bannerName" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.bannerName %>
                        </p>
                    <% } %>
                        <input type="text" id="bannerName" name="bannerName" value="<%=locals.name%>" class="govuk-input govuk-!-width-three-quarters" maxlength="20"<% if (locals.validationMessages.bannerName) { %> aria-invalid="true" aria-describedby="validation-bannerName" <% } %>>
                    </div>

                    <div class="govuk-form-group <%= (locals.validationMessages.bannerTitle !== undefined) ? 'govuk-form-group--error' : '' %>">
                        <label class="govuk-label govuk-label--s" for="bannerTitle">Title</label>
                    <% if (locals.validationMessages.bannerTitle !== undefined) { %>
                        <p id="validation-bannerTitle" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.bannerTitle %>
                        </p>
                    <% } %>
                        <input type="text" id="bannerTitle" name="bannerTitle" value="<%=locals.bannerTitle%>" class="govuk-input govuk-!-width-three-quarters" maxlength="80"<% if (locals.validationMessages.bannerTitle) { %> aria-invalid="true" aria-describedby="validation-bannerTitle" <% } %>>
                    </div>

                    <div class="govuk-form-group <%= (locals.validationMessages.bannerMessage !== undefined) ? 'govuk-form-group--error' : '' %>">
                        <label class="govuk-label govuk-label--s" for="bannerMessage">Message</label>
                    <% if (locals.validationMessages.bannerMessage !== undefined) { %>
                        <p id="validation-bannerMessage" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.bannerMessage %>
                        </p>
                    <% } %>
                        <textarea type="text" id="bannerMessage" name="bannerMessage" value="<%=locals.message%>" class="govuk-textarea govuk-!-width-three-quarters" rows="4" maxlength="400"<% if (locals.validationMessages.bannerMessage) { %> aria-invalid="true" aria-describedby="validation-bannerMessage" <% } %>><%=locals.message%></textarea>
                    </div>

                    <!-- Display condition selection -->
                    <div class="govuk-form-group <%= (locals.validationMessages.bannerDisplay !== undefined) ? 'govuk-form-group--error' : '' %>">
                        <fieldset class="govuk-fieldset" aria-describedby="validation-selected-organisation">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                When do you want this banner to be displayed?
                            </legend>
                        <% if (locals.validationMessages.bannerDisplay !== undefined) { %>
                            <p id="validation-selected-organisation" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.bannerDisplay %>
                            </p>
                        <% } %>
                            <div class="govuk-radios">
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="notActive" name="bannerDisplay" type="radio" value="notActive" <%=locals.bannerDisplay === 'notActive' ? 'checked' : 'checked'%>>
                                    <label class="govuk-label govuk-radios__label" for="notActive">
                                        Don't display
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="alwayson" name="bannerDisplay" type="radio" value="isActive" <%=locals.bannerDisplay === 'isActive' ? 'checked' : ''%>>
                                    <label class="govuk-label govuk-radios__label" for="alwayson">
                                        Always show this banner until I stop it
                                    </label>
                                </div>
                                <div class="govuk-radios__item" data-target="date">
                                    <input class="govuk-radios__input" id="date-radio" name="bannerDisplay" type="radio" value="date" <%=locals.bannerDisplay === 'date' ? 'checked' : ''%>>
                                    <label class="govuk-label govuk-radios__label" for="date-radio">
                                        Only display this banner between a specific date and time
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <!-- Display date range -->
                    <div class="panel panel-border-narrow js-hidden" id="date">

                        <!-- From date -->
                        <div class="govuk-form-group <%= (locals.validationMessages.fromDate !== undefined) ? 'govuk-form-group--error' : '' %>">
                            <fieldset class="govuk-fieldset" aria-describedby="validation-selected-organisation">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s" id="fromDate">
                                    From date
                                </legend>
                                <div class="govuk-hint">For example, 31 03 1980 14:30</div>
                            <% if (locals.validationMessages.fromDate !== undefined) { %>
                                <p id="validation-selected-organisation" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.fromDate %>
                                </p>
                            <% } %>
                                <div class="govuk-date-input">
                                    
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="fromDay">
                                                Day
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="fromDay" name="fromDay" type="text" inputmode="numeric" maxlength="2" pattern="[0-9]" value="<%=locals.fromDay%>">
                                        </div>
                                    </div>

                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="fromMonth">
                                                Month
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="fromMonth" name="fromMonth" type="text" inputmode="numeric" maxlength="2" pattern="[0-9]" value="<%=locals.fromMonth%>">
                                        </div>
                                    </div>

                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="fromYear">
                                                Year
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="fromYear" name="fromYear" type="text" inputmode="numeric" maxlength="4" pattern="[0-9]" value="<%=locals.fromYear%>">
                                        </div>
                                    </div>

                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="fromHour">
                                                Hour
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="fromHour" name="fromHour" type="text" inputmode="numeric" maxlength="2" pattern="[0-9]" value="<%=locals.fromHour%>">
                                        </div>
                                    </div>

                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="fromMinute">
                                                Minute
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="fromMinute" name="fromMinute" type="text" inputmode="numeric" maxlength="2" pattern="[0-9]" value="<%=locals.fromMinute%>">
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </fieldset>
                        </div>

                        <!-- To date -->
                        <div class="govuk-form-group <%= (locals.validationMessages.toDate !== undefined) ? 'govuk-form-group--error' : '' %>">
                            <fieldset class="govuk-fieldset" aria-describedby="validation-selected-organisation">
                                <legend class="govuk-fieldset__legend govuk-fieldset__legend--s" id="toDate">
                                    To date
                                </legend>
                                <div class="govuk-hint">For example, 31 03 1980 14:30</div>
                            <% if (locals.validationMessages.toDate !== undefined) { %>
                                <p id="validation-selected-organisation" class="govuk-error-message">
                                    <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.toDate %>
                                </p>
                            <% } %>
                                <div class="govuk-date-input">
                                    
                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="toDay">
                                                Day
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="toDay" name="toDay" type="text" inputmode="numeric" maxlength="2" pattern="[0-9]" value="<%=locals.toDay%>">
                                        </div>
                                    </div>

                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="toMonth">
                                                Month
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="toMonth" name="toMonth" type="text" inputmode="numeric" maxlength="2" pattern="[0-9]" value="<%=locals.toMonth%>">
                                        </div>
                                    </div>

                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="toYear">
                                                Year
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="toYear" name="toYear" type="text" inputmode="numeric" maxlength="4" pattern="[0-9]" value="<%=locals.toYear%>">
                                        </div>
                                    </div>

                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="toHour">
                                                Hour
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="toHour" name="toHour" type="text" inputmode="numeric" maxlength="2" pattern="[0-9]" value="<%=locals.toHour%>">
                                        </div>
                                    </div>

                                    <div class="govuk-date-input__item">
                                        <div class="govuk-form-group">
                                            <label class="govuk-label govuk-date-input__label" for="toMinute">
                                                Minute
                                            </label>
                                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="toMinute" name="toMinute" type="text" inputmode="numeric" maxlength="2" pattern="[0-9]" value="<%=locals.toMinute%>">
                                        </div>
                                    </div>
                                    
                                </div>
                                
                            </fieldset>
                        </div>

                    </div>

                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button" data-module="govuk-button">Save</button>
                        <a href="<%=locals.cancelLink%>" class="govuk-button govuk-button--secondary">Cancel</a>
                    </div>
                </fieldset>
            </form>
        </div>
    <% if (locals.isEditExisting) { %>
        <div class="govuk-grid-column-one-quarter">
            <aside id="related-actions" class="govuk-!-margin-top-0">
                <h2 class="govuk-heading-m">Actions</h2>
                <nav aria-label="Actions">
                    <ul class="govuk-list">
                        <li>
                            <a class="govuk-link-bold" href="<%=locals.bannerId%>/delete-banner">Delete banner</a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>
    <% } %>
    </div>
</div>
