<div class="govuk-width-container govuk-!-margin-top-9">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">
                Invite user
            </h1>
            <p class="govuk-body">Please provide details of the user you would like to invite, so we can check if they’ve already registered to use DfE Sign-in.</p>
            <form method="post" id="form-new-user">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>

                <legend class="govuk-fieldset__legend govuk-visually-hidden">User details</legend>

                    <div class="govuk-form-group <%= (locals.validationMessages.firstName !== undefined) ? 'govuk-form-group--error' : '' %>">
                        <label class="govuk-label govuk-label--s" for="firstName">First name</label>
                        <% if (locals.validationMessages.firstName !== undefined) { %>
                            <p id="validation-firstName" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.firstName %>
                            </p>
                        <% } %>
                        <input class="govuk-input govuk-!-width-three-quarters" id="firstName" name="firstName" type="text"
                        <% if (locals.validationMessages.firstName !== undefined) { %>
                            aria-invalid="true" aria-describedby="validation-firstName"
                                <% } %>
                            value="<%=locals.firstName%>">
                    </div>

                    <div class="govuk-form-group <%= (locals.validationMessages.lastName !== undefined) ? 'govuk-form-group--error' : '' %>">
                        <label class="govuk-label govuk-label--s" for="lastName">Last name </label>
                        <% if (locals.validationMessages.lastName !== undefined) { %>
                            <p id="validation-lastName" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.lastName %>
                            </p>
                        <% } %>
                        <input class="govuk-input govuk-!-width-three-quarters" id="lastName" name="lastName" type="text"
                            <% if (locals.validationMessages.lastName !== undefined) { %>aria-invalid="true" aria-describedby="validation-lastName"<% } %>
                            value="<%=locals.lastName%>">
                    </div>

                    <div class="govuk-form-group <%= (locals.validationMessages.email !== undefined) ? 'govuk-form-group--error' : '' %>">
                        <label class="govuk-label govuk-label--s" for="email">Email address </label>
                        <% if (locals.validationMessages.email !== undefined) { %>
                            <p id="validation-email" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.email %>
                            </p>
                        <% } %>
                        <input class="govuk-input govuk-!-width-three-quarters" id="email" name="email" type="email"
                            <% if (locals.validationMessages.email !== undefined) { %>aria-invalid="true" aria-describedby="validation-email"<% } %>
                            value="<%=locals.email%>">
                    </div>
                </fieldset>

                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button">Continue</button>
                    <a href="<%= locals.cancelLink %>" class="govuk-button govuk-button--secondary">Cancel</a>
                </div>

            </form>
        </div>
    </div>
</div>