<div class="govuk-width-container govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">
                Permission level
            </h1>

            <dl class="govuk-summary-list">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        User
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%= locals.user %>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    Organisation
                    </dt>
                    <dd class="govuk-summary-list__value">
                    <%=locals.organisation%>
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                    Service
                    </dt>
                    <dd class="govuk-summary-list__value">
                    <%= locals.service.name %>
                    </dd>
                </div>
            </dl>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <form method="post">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
            <div class="govuk-form-group <%= (locals.validationMessages.selectedLevel !== undefined) ? 'govuk-form-group--error' : '' %>">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                        Select the permission level
                    </legend>
                    <% if (locals.validationMessages.selectedLevel !== undefined) { %>
                    <p class="govuk-error-message" id="validation-permission-level"><span class="govuk-visually-hidden">Error:</span> <%=locals.validationMessages.selectedLevel %></p>
                    <% } %>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                        <input 
                        class="govuk-radios__input"
                        id="level-user" type="radio" name="selectedLevel" value="0">
                        <label class="govuk-label govuk-radios__label" for="level-user">End user</label>
                        </div>
                  
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="level-approver" type="radio" name="selectedLevel" value="10000">
                        <label class="govuk-label govuk-radios__label" for="level-approver">Approver</label>
                    </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
                <a href="<%= locals.cancelLink %>" class="govuk-button govuk-button--secondary">Cancel</a>
            </div>
            </form>
        </div>
    </div>
</div>