<div class="govuk-width-container govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <%- include('_organisationSummary', {organisation: locals.organisation}); %>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <aside id="related-actions" class="govuk-!-margin-top-0">
                <h2 class="govuk-heading-m">Actions</h2>
                <ul class="govuk-list">
                    <li>
                        <a class="govuk-link-bold" href="web-service-sync">Send WS Sync</a>
                    </li>
                </ul>
            </aside>
        </div>
    </div>

    <%
    const paginationModel = {
        method: 'post',
        csrfToken,
        currentPage: locals.page,
        numberOfPages: locals.numberOfPages,
        totalNumberOfResults: locals.totalNumberOfResults,
        numberOfResultsOnPage: locals.users.length,
    }
    %>

    <div class="govuk-grid-row govuk-!-margin-top-6">
        <div class="govuk-grid-column-full">
            <div class="govuk-tabs" data-module="govuk-tabs">
                <%- include('userNavigation', {area: 'users'}); %>

                <div class="govuk-tabs__panel" id="policy-roles-panel">
                    <h2 class="govuk-heading-m govuk-visually-hidden">Users</h2>
                    <%- include('../../layouts/pagination', paginationModel); %>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row sortable">
                                <th scope="col" class="govuk-table__header width-15">Name</th>
                                <th scope="col" class="govuk-table__header width-35">Email</th>
                                <th scope="col" class="govuk-table__header width-20">Permission level</th>
                                <th scope="col" class="govuk-table__header width-15">Last Login</th>
                                <th scope="col" class="govuk-table__header width-15 govuk-table__header--numeric">Status</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        <% if (users.length === 0) { %>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" colspan="5">
                                    <div class="empty-state">
                                        <p class="govuk-body">No users found for organisation</p>
                                    </div>
                                </td>
                            </tr>
                        <% } %>
                        <%users.forEach((user) => {%>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    <a class="govuk-link" href="/services/<%= locals.serviceId %>/users/<%=user.id%>/organisations"><%=user.name%></a>
                                </td>
                                <td class="govuk-table__cell"><%=user.email%></td>
                                <td class="govuk-table__cell"><%=user.organisation.role.description%></td>
                                <td class="govuk-table__cell">
                                <% if (user.lastLogin) {%>
                                    <%=locals.moment(user.lastLogin).fromNow()%>
                                <% } else {%>
                                    Never
                                <% } %>
                                </td>
                                <td class="govuk-table__cell govuk-table__cell--numeric"><%=user.status.description%></td>
                            </tr>
                        <%})%>
                        </tbody>
                    </table>
                    <%- include('../../layouts/pagination', paginationModel); %>
                </div>
            </div>
        </div>
    </div>
</div>
