<div class="govuk-width-container govuk-main-wrapper">
    <% if (locals.flash.info) { %>
        <div id="notification-wrapper" class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <span class="close-button">x</span>
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                    Success
                </h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-body">
                    <%=locals.flash.info%>
                </p>
            </div>
        </div>
    <% } %>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <%- include('policySummary'); %>
        </div>
        <%  if (locals.canUserAddPolicyConditions) { %>
            <a class="govuk-link" href="create-policy-condition">
                Create Policy Condition
            </a>
        <% } %>
    </div>
    <div class="govuk-grid-row govuk-!-margin-top-6">
        <div class="govuk-grid-column-full">
            <div class="govuk-tabs" data-module="govuk-tabs">
                <h2 class="govuk-tabs__title">
                    Contents
                </h2>
                <ul class="govuk-tabs__list" role="tablist">
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" id="policy-conditions-tab">
                            <a class="govuk-tabs__tab" href="#policy-conditions-panel" role="tab">
                                Conditions
                            </a>
                        </li>
                    <% if(!locals.isInvitation) { %>
                            <li class="govuk-tabs__list-item govuk-tabs__list-item--selected" id="policy-roles-tab">
                                <a class="govuk-tabs__tab" href="#policy-roles-panel" role="tab">
                                    Roles
                                </a>
                            </li>
                    <% } %>
                </ul>
                <div class="govuk-tabs__panel" id="policy-conditions-panel">
                    <h2 class="govuk-heading-m govuk-visually-hidden">Policy Conditions</h2>
                    <table class="govuk-table cell-align-top">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row sortable">
                                <th scope="col" class="govuk-table__header width-20">Condition</th>
                                <th scope="col" class="govuk-table__header width-20">Operator</th>
                                <th scope="col" class="govuk-table__header width-40 govuk-table__header--numeric">Value</th>
                                <%  if (locals.canUserAddPolicyConditions) { %>
                                <th scope="col" class="govuk-table__header width-20"> </th>
                                <% } %>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        <% if (locals.policy.conditions.length === 0) { %>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" colspan="3">
                                    <div class="empty-state">
                                        <p class="govuk-body"><%= locals.policy.name %> has no conditions</p>
                                    </div>
                                </td>
                            </tr>
                        <% } %>
                        <% for (let i = 0; i < locals.policy.conditions.length; i++) { %>
                            <% const condition = locals.policy.conditions[i];%>
                            <tr class="govuk-table__row">   
                                <td class="govuk-table__cell"><%= condition.friendlyField %></td>
                                <td class="govuk-table__cell"><%= condition.operator %></td>
                            <% if (condition.value.length === 1) { %>
                                <td class="govuk-table__cell govuk-table__cell--numeric"><%= condition.friendlyValue[0] %></td>
                                <%  if (locals.canUserAddPolicyConditions) { %>
                                <td class="govuk-table__cell"><a href="confirm-remove-policy-condition?condition=<%= condition.field %>&operator=<%= condition.operator %>&value=<%= condition.value %>">Remove</a></td>
                                <% } %>
                            <% } else { %>
                                <td class="govuk-table__cell govuk-table__cell--numeric">
                                    <details class="govuk-details" data-module="govuk-details">
                                        <summary class="govuk-details__summary">
                                            <span class="govuk-details__summary-text">
                                                <%= condition.value.length %> values
                                            </span>
                                        </summary>
                                        <div class="govuk-details__text">
                                        <% for (let i = 0; i < condition.value.length; i++) {
                                            const selectedcondition = condition.friendlyValue[i];
                                        %>
                                            <p><%= selectedcondition %> <a href="confirm-remove-policy-condition?condition=<%= condition.field %>&operator=<%= condition.operator %>&value=<%= condition.value[i] %>">Remove</a></p>
                                        <% } %>
                                        </div>
                                    </details>
                                </td>
                            <% }%>

                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
                <div class="govuk-tabs__panel" id="policy-roles-panel">
                    <h2 class="govuk-heading-m govuk-visually-hidden">Policy Roles</h2>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row sortable">
                                <th scope="col" class="govuk-table__header width-40">Name</th>
                                <th scope="col" class="govuk-table__header width-20">Code</th>
                                <th scope="col" class="govuk-table__header width-30">ID</th>
                                <th scope="col" class="govuk-table__header width-10 govuk-table__header--numeric">Status</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        <% if (locals.policy.roles.length === 0) { %>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell" colspan="4">
                                    <div class="empty-state">
                                        <p class="govuk-body"><%= locals.policy.name %> has no roles</p>
                                    </div>
                                </td>
                            </tr>
                        <% } %>
                        <% for (let i = 0; i < locals.policy.roles.length; i++) { %>
                            <% const role = locals.policy.roles[i];%>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell"><%= role.name %></td>
                                <td class="govuk-table__cell"><%= role.code %></td>
                                <td class="govuk-table__cell"><%= role.numericId %></td>
                                <td class="govuk-table__cell govuk-table__cell--numeric"><%= role.status ? role.status.id : '' %></td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
