<div class="govuk-width-container govuk-!-margin-top-9">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">Select organisation</h1>

            <p class="govuk-body">
                <%= locals.user.firstName + ' ' + locals.user.lastName %> has a DfE Sign-in account and is associated
                with the following organisations.
            </p>

            <form method="post">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                <div
                    class="govuk-form-group <%= (locals.validationMessages.selectedOrganisation !== undefined) ? 'govuk-form-group--error' : '' %>">
                    <fieldset class="govuk-fieldset">
                        <% if (locals.validationMessages.selectedOrganisation !== undefined) { %>
                        <p id="validation-selected-organisation" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            <%=locals.validationMessages.selectedOrganisation %>
                        </p>
                        <% } %>
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                                Select an organisation below or
                                <a class="govuk-link" href="associate-organisation">add a new organisation</a>
                        </legend>
                        <div class="govuk-radios">
                            <% for(let i= 0; i < locals.organisations.length; i++) { const org =
                            locals.organisations[i]; %>
                                <% if (org.organisation.status) { %>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input <%= locals.organisations.length > 2 ?
                                    'auto-scroll-on-change' : '' %>" id="<%= org.organisation.id %>" type="radio"
                                    name="selectedOrganisation" value="<%= org.organisation.id %>" <%= org.organisation.id
                                    === selectedOrganisation ? 'checked': ''%> >
                                    <label class="govuk-label govuk-radios__label" for="<%= org.organisation.id %>">
                                        <%= org.organisation.name %>
                                        <%=org.organisation.status ? `(${org.organisation.status.name})` : '' %>
                                    </label>
                                    <% if (org.naturalIdentifiers) { %>
                                    <div class="govuk-hint govuk-radios__hint">
                                        <%= org.naturalIdentifiers.join(', ') %>
                                    </div>
                                    <% } %>
                                </div>
                                <% } %>
                            <% } %>
                        </div>
                    </fieldset>
                </div>
                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button">Continue</button>
                    <a href="<%= locals.cancelLink %>" class="govuk-button govuk-button--secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
