<div class="grid-row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Select organisation
        </h1>
        <p><%= locals.user.firstName + ' ' + locals.user.lastName %> has a DfE Sign-in account and is associated with the following organisations.</p>

        <form method="post">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>"/>
            <div class="form-group <%= (locals.validationMessages.selectedOrganisation !== undefined) ? 'form-group-error' : '' %>">
                <fieldset>
                    <% if (locals.validationMessages.selectedOrganisation !== undefined) { %>
                    <p class="error-message" id="validation-selected-organisation"><%=locals.validationMessages.selectedOrganisation %></p>
                    <% } %>
                    <legend>
                        <span class="body-text">Select an organisation below or <a href="associate-organisation">add a new organisation</a></span>
                    </legend>
                    <% for(let i= 0; i < locals.organisations.length; i++) {
                        const org = locals.organisations[i];
                    %>
                    <div class="multiple-choice">
                        <input id="<%= org.organisation.id %>" type="radio" name="selectedOrganisation" value="<%= org.organisation.id %>">
                        <label for="<%= org.organisation.id %>">
                            <span class="form-label-bold">
                                <%= org.organisation.name %>
                                <%= org.organisation.status ? `(${org.organisation.status.name})` : ''%>
                            </span>
                            <% if (org.naturalIdentifiers) { %>
                                <span class="form-hint">
                                <%= org.naturalIdentifiers.join(', ') %>
                            </span>
                            <% } %>
                        </label>
                    </div>
                    <% } %>
                </fieldset>
            </div>
            <div class="form-submit submit-buttons">
                <button class="button">Continue</button>
                <a href="<%= locals.cancelLink %>" class="button button-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>
