<div class="govuk-width-container govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">Select a service</h1>
            <p class="govuk-body">Choose which service you would like to manage within the DfE Manage console.</p>

            <form method="post" class="prevent-form-double-submission">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />

                <div
                    class="govuk-form-group <%= (locals.validationMessages.selectedService !== undefined) ? 'govuk-form-group--error' : '' %>">
                    <fieldset class="govuk-fieldset" id="selectedService">
                        <% if (locals.validationMessages.selectedService !== undefined) { %>

                        <span id="validation-selected-service" class="govuk-error-message">
                            <span class="govuk-visually-hidden">Error:</span>
                            <%=locals.validationMessages.selectedService %>
                        </span>
                        <% } %>

                        <legend class="govuk-visually-hidden">Select the service</legend>

                        <table class="govuk-table govuk-!-margin-top-3">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row extra-padding govuk-grid-row">
                                    <th scope="col" class="govuk-table__header width-10">Select</th>
                                    <th scope="col" class="govuk-table__header width-40">Service</th>
                                    <th scope="col" class="govuk-table__header width-65">Description</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <% for(let i= 0; i < locals.services.length; i++) { const service = locals.services[i];
                                %>

                                <tr class="govuk-table__row extra-padding">
                                    <td class="govuk-table__cell">
                                        <div class="govuk-radios">
                                            <div class="govuk-radios__item">
                                                <input
                                                    class="govuk-radios__input <%= locals.services.length > 2 ? 'auto-scroll-on-change' : '' %>"
                                                    id="<%= service.id %>"
                                                    name="selectedService"
                                                    type="radio"
                                                    value="<%= service.id %>" />
                                                <label
                                                    for="<%= service.id %>"
                                                    class="govuk-label govuk-radios__label cursor-pointer"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="govuk-table__cell">
                                        <label
                                            class="govuk-label govuk-radios__label govuk-!-font-weight-bold govuk-!-padding-left-0"
                                            for="<%= service.id %>">
                                            <span class="govuk-label govuk-label--s"> <%= service.name %> </span>
                                        </label>
                                    </td>
                                    <td class="govuk-table__cell">
                                        <label class="cursor-pointer" for="<%= service.id %>">
                                            <%=service.description ? `${service.description}` : '' %>
                                        </label>
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </fieldset>
                </div>

                <div class="govuk-button-group auto-scroll-dest">
                    <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
                </div>
            </form>
        </div>
        <!-- TODO: add the route when create new service functionality will be ready -->
        <!-- 
           <div class="govuk-grid-column-one-quarter">
            <aside class="govuk-!-margin-top-0">
                <h2 class="govuk-heading-m">Related actions</h2>
                <nav aria-label="Related actions">
                    <ul class="govuk-list">
                        <li>
                            <a class="govuk-link-bold" href="/">Create new service</a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div> -->
    </div>
</div>
