<div class="govuk-width-container govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl govuk-!-margin-top-0 text-break">
                <span class="govuk-caption-xl"><%=locals.service.name%></span>
                View your service name and description
            </h1>
            <p class="govuk-body"> This is the name and description of your service. This is the information DfE Sign-in users will see on the My services page of their account. </p>
            <p class="govuk-body"><a class="govuk-link" href="<%= locals.urls.serviceNow%>">Contact us</a> to request a change to the service name or description.</p>
            <p class="govuk-body">Click here to <a class="govuk-link" href="<%=locals.serviceId %>/service-information/edit">Edit service info</a>.</p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-top-4">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Service details</h2>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Service name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%=locals.service.name%>
                    </dd>
                </div>
                <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                    <dt class="govuk-summary-list__key">
                        Description
                    </dt>
                    <dd class="govuk-summary-list__value">
                        <%=locals.service.description%>
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</div>
