<% if (locals.flash.info) { %>
<div class="row">
    <div class="col-12">
        <div class="notification notification-success">
            <%=locals.flash.info%>
        </div>
    </div>
</div>
<% } %>

<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">
            Manage banners
            <small><%=locals.serviceDetails.name%></small>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-4 pull-right">
        <div class="buttons pull-right">
            <a href="/services/<%=locals.serviceId%>/service-banners/new-banner" class="button button-secondary">Create banner</a>
        </div>
    </div>
</div>


<%
const paginationModel = {
    method: 'post',
    csrfToken,
    currentPage: locals.page,
    numberOfPages: locals.numberOfPages,
    totalNumberOfResults: locals.totalNumberOfResults,
    numberOfResultsOnPage: locals.serviceBanners.length,
    data: [
        { key: 'criteria', value: locals.criteria },
        { key: 'sort', value: locals.sortBy },
        { key: 'sortDir', value: locals.sortOrder },
        { key: 'showFilters', value: locals.showFilters }
    ]
}
%>

<div class="row">
    <div class="col-12">
        <%- include('../../layouts/pagination', paginationModel); %>
        <table class="data">
            <thead>
            <tr class="sortable">
                <th scope="col" class="cwp-55">
                    Banner name</th>
                <th scope="col" class="cwp-25">
                    Last update</th>
                <th scope="col" class="cwp-25">
                    Is currently displayed?</th>
            </tr>
            </thead>
            <tbody>
            <% if (locals.serviceBanners.length === 0) { %>
            <tr>
                <td colspan="5"><span class="empty-state">No banners found for service</span></td>
            </tr>
            <% } %>
            <% for (let i = 0; i < locals.serviceBanners.length; i++) {
            const banner = locals.serviceBanners[i]%>

            <tr>
                <td><a href="service-banners/<%=banner.id%>"><%= banner.name %></a></td>
                <td><%= banner.updatedAt ? locals.moment(banner.updatedAt).format('DD MMM YYYY') : 'never' %></td>
                <td><%= banner.isActive ? 'Yes' : ''%></td>
            </tr>
            <% } %>
            </tbody>
        </table>
        <%- include('../../layouts/pagination', paginationModel); %>
    </div>
</div>
