<% if (locals.flash.info) { %>
<div class="row">
    <div class="col-12">
        <div class="notification notification-success">
            <%=locals.flash.info%>
        </div>
    </div>
</div>
<% } %>

<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">Service configuration</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <form method="post" id="form-service-config">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
            <dl class="app-check-your-answers app-check-your-answers--short">
                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__title">
                        Service details
                    </dt>
                    <dd class="app-check-your-answers__change ">
                    </dd>
                </div>
                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__question">
                        Service name
                    </dt>
                    <dd class="app-check-your-answers__answer">
                        <div class="form-group <%= (locals.validationMessages.name !== undefined) ? 'form-group-error' : '' %>">
                            <label for="name" class="vh">Service name</label>
                            <% if (locals.validationMessages.name !== undefined) { %>
                            <p class="error-message" id="validation-name"><%=locals.validationMessages.name %></p>
                            <% } %>
                            <input class="form-control inputConfig" id="name" name="name" type="text" value="<%=locals.service.name%>">
                        </div>
                    </dd>
                </div>

                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__question">
                        Description
                    </dt>
                    <dd class="app-check-your-answers__answer">
                        <div class="form-group <%= (locals.validationMessages.description !== undefined) ? 'form-group-error' : '' %>">
                            <label for="description" class="vh">Service description</label>
                            <% if (locals.validationMessages.description !== undefined) { %>
                            <p class="error-message" id="validation-name"><%=locals.validationMessages.description %></p>
                            <% } %>
                            <textarea class="form-control inputConfig" id="description" name="description" rows = '5' style="resize:none;"><%=locals.service.description%></textarea>
                        </div>
                    </dd>

                </div>

                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__question">
                        Home Url
                    </dt>
                    <dd class="app-check-your-answers__answer">
                        <div class="form-group <%= (locals.validationMessages.serviceHome !== undefined) ? 'form-group-error' : '' %>">
                            <label for="serviceHome" class="vh">Home url</label>
                            <% if (locals.validationMessages.serviceHome !== undefined) { %>
                            <p class="error-message" id="validation-homeUrl"><%=locals.validationMessages.serviceHome %></p>
                            <% } %>
                            <input class="form-control inputConfig" id="serviceHome" name="serviceHome" type="text" value="<%=locals.service.relyingParty.service_home%>">
                        </div>
                    </dd>
                </div>

                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__question">
                        Post-reset Url
                    </dt>
                    <dd class="app-check-your-answers__answer">
                        <div class="form-group <%= (locals.validationMessages.postResetUrl !== undefined) ? 'form-group-error' : '' %>">
                            <label for="postResetUrl" class="vh">Post-reset Url</label>
                            <input class="form-control inputConfig" id="postResetUrl" name="postResetUrl" type="text" value="<%=locals.service.relyingParty.postResetUrl%>">
                        </div>
                    </dd>
                </div>
            </dl>

            <dl class="app-check-your-answers app-check-your-answers--short">
                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__title">
                        OpenID Connect
                    </dt>
                    <dd class="app-check-your-answers__change ">
                    </dd>
                </div>
                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__question">
                        Client Id
                    </dt>
                    <dd class="app-check-your-answers__answer">
                        <div class="form-group <%= (locals.validationMessages.clientId !== undefined) ? 'form-group-error' : '' %>">
                            <label for="clientId" class="vh">Client Id</label>
                            <% if (locals.validationMessages.clientId !== undefined) { %>
                            <p class="error-message" id="validation-homeUrl"><%=locals.validationMessages.clientId %></p>
                            <% } %>
                            <input class="form-control inputConfig" id="clientId" name="clientId" type="text" value="<%=locals.service.relyingParty.client_id%>">
                        </div>
                    </dd>
                </div>

                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__question">
                        Client secret
                    </dt>
                    <dd class="app-check-your-answers__answer">
                        <div class="form-group">
                            <label for="clientSecret" class="vh">Client secret</label>
                            <a href="" class="pull-right" id="generate-client-secret">Regenerate</a>
                            <div class="show-password full-width" style="width: 75%">
                                <input class="form-control" id="clientSecret" name="clientSecret" type="password" value="<%=locals.service.relyingParty.client_secret%>" readonly="readonly">
                            </div>
                        </div>
                    </dd>

                </div>

                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__question">
                        Redirect Urls
                    </dt>
                    <dd class="app-check-your-answers__answer">
                        <div id ="redirect-url" class="form-group <%= (locals.validationMessages.redirect_uris !== undefined) ? 'form-group-error' : '' %>">
                            <a href="" class="pull-right" id="add-redirect">Add Url</a>
                            <% if (locals.service.relyingParty.redirect_uris.length > 0) { %>
                                <% if (locals.validationMessages.redirect_uris !== undefined) { %>
                                <p class="error-message" id="validation-homeUrl"><%=locals.validationMessages.redirect_uris %></p>
                                <% } %>
                                <% for (let i=0; i < locals.service.relyingParty.redirect_uris.length; i++) {
                                const redirect_uri = locals.service.relyingParty.redirect_uris[i]%>
                                <label for="<%=redirect_uri%>" class="vh">Redirect url</label>
                                <p><input class="form-control inputConfig" id="<%=redirect_uri%>" name="redirect_uris" value="<%=redirect_uri%>"></p>
                                <% } %>
                            <% } else { %>
                            <label for="redirect" class="vh">Redirect url</label>
                                <% if (locals.validationMessages.redirect_uris !== undefined) { %>
                                <p class="error-message" id="validation-homeUrl"><%=locals.validationMessages.redirect_uris %></p>
                                <% } %>
                            <p><input class="form-control inputConfig" id="redirect" name="redirect_uris"></p>
                            <% } %>
                        </div>
                    </dd>
                </div>

                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__question">
                        Logout redirect Urls
                    </dt>

                    <dd class="app-check-your-answers__answer">
                        <div id ="logout-url">

                            <a href="" class="pull-right" id="add-logout">Add Url</a>
                            <% if (locals.service.relyingParty.post_logout_redirect_uris.length > 0) { %>
                                <% for (let i=0; i < locals.service.relyingParty.post_logout_redirect_uris.length; i++) {
                                const logout_redirect = locals.service.relyingParty.post_logout_redirect_uris[i]%>
                                <label for="<%=logout_redirect%>" class="vh">Logout redirect Urls</label>
                                <p><input class="form-control inputConfig" id="<%=logout_redirect%>" name="post_logout_redirect_uris" value="<%=logout_redirect%>"></p>
                                <% } %>
                            <% } else { %>
                                <label for="post_logout_redirect_uris" class="vh">Redirect url</label>
                                <p><input class="form-control inputConfig" id="post_logout_redirect_uris" name="post_logout_redirect_uris"></p>
                            <% } %>
                        </div>
                    </dd>
                </div>

                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__question">
                        <p class="check-your-answers-paragraph">Grant types</p>
                    </dt>
                    <dd class="app-check-your-answers__answer">
                        <div class="form-group">
                            <div class="multiple-choice">
                                <input id="authorization_code" type="checkbox" name="grant_types" value="authorization_code" <%=locals.grantTypes.includes('authorization_code') ? 'checked' : ''%>>
                                <label for="authorization_code">authorization_code</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="implicit" type="checkbox" name="grant_types" value="implicit" <%=locals.grantTypes.includes('implicit') ? 'checked' : ''%>>
                                <label for="implicit">implicit</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="client_credentials" type="checkbox" name="grant_types" value="client_credentials" <%=locals.grantTypes.includes('client_credentials') ? 'checked' : ''%>>
                                <label for="client_credentials">client_credentials</label>
                            </div>
                        </div>
                    </dd>
                </div>

                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__question">
                        <p class="check-your-answers-paragraph">Response types</p>
                    </dt>
                    <dd class="app-check-your-answers__answer">
                        <div class="form-group">
                            <div class="multiple-choice">
                                <input id="code" type="checkbox" name="response_types" value="code" <%=locals.responseTypes.includes('code') ? 'checked' : ''%>>
                                <label for="code">code</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="id_token" type="checkbox" name="response_types" value="id_token" <%=locals.responseTypes.includes('id_token') ? 'checked' : ''%>>
                                <label for="id_token">id_token</label>
                            </div>
                            <div class="multiple-choice">
                                <input id="token" type="checkbox" name="response_types" value="token" <%=locals.responseTypes.includes('token') ? 'checked' : ''%>>
                                <label for="token">token</label>
                            </div>
                        </div>
                    </dd>
                </div>

                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__question">
                        Token endpoint authentication method
                    </dt>
                    <dd class="app-check-your-answers__answer">
                        <div class="form-group">
                            <label class="form-label vh" for="tokenEndpointAuthMethod">Token endpoint auth method</label>
                            <select class="form-control inputConfig" id="tokenEndpointAuthMethod" name="tokenEndpointAuthMethod">
                                <option disabled value>Select token endpoint authentication method</option>
                                <option <%= locals.service.relyingParty.token_endpoint_auth_method && locals.service.relyingParty.token_endpoint_auth_method === 'client_secret_post' ? 'selected="selected"' : ''%> value="client_secret_post">client_secret_post</option>
                                <option <%= !locals.service.relyingParty.token_endpoint_auth_method ? 'selected="selected"' : ''%>value="none">none</option>
                            </select>
                        </div>
                    </dd>
                </div>
            </dl>

            <dl class="app-check-your-answers app-check-your-answers--short">
                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__title">
                        API
                    </dt>
                    <dd class="app-check-your-answers__change ">
                    </dd>
                </div>
                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__question">
                        Secret
                    </dt>
                    <dd class="app-check-your-answers__answer">
                        <div class="form-group">
                            <label class="form-label vh" for="apiSecret"></label>
                            <a href="" class="pull-right" id="generate-api-secret">Regenerate</a>
                            <div class="show-password full-width" style="width: 75%">
                                <input class="form-control" id="apiSecret" name="apiSecret" type="password" value="<%=locals.service.relyingParty.api_secret%>" readonly="readonly">
                            </div>
                        </div>
                    </dd>
                </div>
            </dl>

            <div class="form-submit submit-buttons">
                <button type="submit" class="button">Save</button>
                <a href="./" class="button button-secondary">Cancel</a>
            </div>


        </form>
    </div>
</div>
