<div class="govuk-width-container govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
        <% if (locals.flash.info) { %>
            <div id="notification-wrapper" class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <span class="close-button">x</span>
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Success
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-body">
                        <%=locals.flash.info%>
                    </p>
                </div>
            </div>
        <% } %>
            <h1 class="govuk-heading-xl govuk-!-margin-top-0 text-break">
                <span class="govuk-caption-xl"><%=locals.serviceDetails.name%></span>
                Manage banners
            </h1>
        </div>
    </div>
    
    <%
    const paginationModel = {
        method: 'post',
        csrfToken,
        currentPage: locals.page,
        numberOfPages: locals.numberOfPages,
        totalNumberOfResults: locals.totalNumberOfResults,
        numberOfResultsOnPage: locals.serviceBanners.length,
        data: [
            { key: 'criteria', value: locals.criteria },
            { key: 'sort', value: locals.sortBy },
            { key: 'sortDir', value: locals.sortOrder },
            { key: 'showFilters', value: locals.showFilters }
        ]
    }
    %>
    
    <div class="govuk-grid-row govuk-!-margin-top-6">
        <div class="govuk-grid-column-full">
            <a href="/services/<%=locals.serviceId%>/service-banners/new-banner" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
                Create banner
            </a>
            <%- include('../../layouts/pagination', paginationModel); %>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row sortable">
                        <th scope="col" class="govuk-table__header width-55">Banner name</th>
                        <th scope="col" class="govuk-table__header width-20">Last update</th>
                        <th scope="col" class="govuk-table__header width-45 govuk-table__header--numeric">Is currently displayed?</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                <% if (locals.serviceBanners.length === 0) { %>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" colspan="3">
                            <div class="empty-state">
                                <p class="govuk-body">No banners found for service</p>
                            </div>
                        </td>
                    </tr>
                <% } %>
                <% for (let i = 0; i < locals.serviceBanners.length; i++) {
                    const banner = locals.serviceBanners[i];
                %>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell"><a class="govuk-link" href="service-banners/<%=banner.id%>"><%= banner.name %></a></td>
                        <td class="govuk-table__cell"><%= banner.formattedUpdateAt ? banner.formattedUpdateAt : 'Never' %></td>
                        <td class="govuk-table__cell govuk-table__cell--numeric"><%= i === locals.activeBannerIndex ? 'Yes' : ''%></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
            <%- include('../../layouts/pagination', paginationModel); %>
        </div>
    </div>
</div>
