<div class="row">
    <div class="col-8">
        <h1 class="heading-xlarge">Service configuration</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <form method="post" id="form-service-config">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
            <dl class="app-check-your-answers app-check-your-answers--short">
                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__title">
                        Service details
                    </dt>
                    <dd class="app-check-your-answers__change ">
                    </dd>
                </div>
                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__question">
                        Service name
                    </dt>
                    <dd class="app-check-your-answers__answer">
                        <label for="name"></label>
                        <input class="form-control" id="name" value="<%=locals.service.name%>" >
                    </dd>
                </div>

                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__question">
                        Description
                    </dt>
                    <dd class="app-check-your-answers__answer">
                        <label for="description"></label>
                            <textarea class="form-control" id="description" rows = '5' style=" resize: none;"><%=locals.service.description%></textarea>
                    </dd>

                </div>

                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__question">
                        Home Url
                    </dt>
                    <dd class="app-check-your-answers__answer">
                        <label for="home-url"></label>
                            <input class="form-control" id="home-url" value="<%=locals.service.relyingParty.service_home%>">
                    </dd>
                </div>
            </dl>

            <dl class="app-check-your-answers app-check-your-answers--short">
                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__title">
                        OpenID Connect
                    </dt>
                    <dd class="app-check-your-answers__change ">
                    </dd>
                </div>
                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__question">
                        Client Id
                    </dt>
                    <dd class="app-check-your-answers__answer">
                        <label for="clientId"></label>
                            <input class="form-control" id="clientId" value="<%=locals.service.relyingParty.client_id%>">
                    </dd>
                </div>

                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__question">
                        Client secret
                    </dt>
                    <dd class="app-check-your-answers__answer">
                        <label for="clientsecret"></label>
                        <div class="show-password full-width">
                            <input class="form-control" id="clientsecret" name="clientsecret" type="password" value="<%=locals.service.relyingParty.client_secret%>" disabled="disabled">
                        </div>
                    </dd>

                </div>

                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__question">
                        Redirect Urls
                    </dt>
                    <dd class="app-check-your-answers__answer">
                        <div id ="redirect-url">
                            <a href="" class="pull-right" id="add-redirect">Add Url</a>
                            <label for=redirect"></label>
                            <% if (locals.service.relyingParty.redirect_uris.length > 0) { %>
                                <% for (let i=0; i < locals.service.relyingParty.redirect_uris.length; i++) {
                                const redirect_uri = locals.service.relyingParty.redirect_uris[i]%>
                                <div class="redirect-input" style="padding-bottom: 10px;">
                                    <input class="form-control" id=redirect" value="<%=redirect_uri%>">
                                </div>
                                <% } %>
                            <% } else { %>
                            <div class="redirect-input" style="padding-bottom: 10px">
                                <input class="form-control" id="redirect" value="">
                            </div>
                            <% } %>
                        </div>
                    </dd>
                </div>

                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__question">
                        Logout redirect Urls
                    </dt>
                    <dd class="app-check-your-answers__answer">
                        <label for="logout-redirect"></label>
                        <a href="" class="pull-right">Add Url</a>
                        <% if (locals.service.relyingParty.post_logout_redirect_uris.length > 0) { %>
                            <% for (let i=0; i < locals.service.relyingParty.post_logout_redirect_uris.length; i++) {
                            const logout_redirect = locals.service.relyingParty.post_logout_redirect_uris[i]%>
                            <div class="logout-input" style="padding-bottom: 10px;">
                                <input class="form-control" id="logout-redirect" value="<%=logout_redirect%>">
                            </div>
                            <% } %>
                        <% } else { %>
                        <div class="logout-input" style="padding-bottom: 10px;">
                            <input class="form-control" id="logout-redirect" value="">
                        </div>
                        <% } %>
                    </dd>
                </div>

                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__question">
                        Grant types
                    </dt>
                    <dd class="app-check-your-answers__answer">
                        <div class="form-group">
                            <label class="form-label" for="grant-types"></label>
                            <select class="form-control" id="grant-types" name="grant-types" style="width: 75%;">
                                <option value="authorization_code">authorization_code</option>
                                <option value="implicit">implicit</option>
                            </select>
                        </div>
                    </dd>
                </div>

                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__question">
                        Response types
                    </dt>
                    <dd class="app-check-your-answers__answer">
                        <div class="form-group">
                            <label class="form-label" for="response-types"></label>
                            <select class="form-control" id="response-types" name="response-types" style="width: 75%;">
                                <option value="code">code</option>
                                <option value="id_token">id_token</option>
                            </select>
                        </div>
                    </dd>
                </div>
            </dl>

            <dl class="app-check-your-answers app-check-your-answers--short">
                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__title">
                        API
                    </dt>
                    <dd class="app-check-your-answers__change ">
                    </dd>
                </div>
                <div class="app-check-your-answers__contents">
                    <dt class="app-check-your-answers__question">
                        Secret
                    </dt>
                    <dd class="app-check-your-answers__answer">
                        <label for="apisecret"></label>
                        <div class="show-password full-width">
                            <input class="form-control" id="apisecret" name="apisecret" type="password" value="<%=locals.service.relyingParty.api_secret%>" disabled="disabled">
                        </div>
                    </dd>
                </div>
            </dl>

            <div class="form-submit submit-buttons">
                <button type="submit" class="button">Save</button>
                <a href="./" class="button button-secondary">Cancel</a>
            </div>


        </form>
    </div>
</div>
