<div class="govuk-width-container govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full  govuk-!-margin-bottom-3">
            <h1 class="govuk-heading-xl govuk-!-margin-top-0 text-break">
                <span class="govuk-caption-xl"><%=locals.service.name%></span>
                Manage service secrets
            </h1>
            <p class="govuk-body">Manage the client and API secrets for service configuration.</p>
            <p class="govuk-body">A service secret is a security feature that generates a unique identifier when a user signs in.</p>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Service secret details</h2>
            <form method="post" class="prevent-form-double-submission" id="form-service-secrets">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                <fieldset  class="govuk-fieldset govuk-!-margin-top-3">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        OpenID Connect
                    </legend>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                <label for="clientSecret" class="govuk-label govuk-label--s">
                                    Client secret
                                </label>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div
                                    class="govuk-form-group <%= (locals.validationMessages.clientSecret !== undefined) ? 'govuk-form-group--error' : ''%>">
                                    <div>
                                        <% if (locals.validationMessages.clientSecret !== undefined){ %>
                                            <p id="validation-clientSecret" class="govuk-error-message">
                                                <span class="govuk-visually-hidden">Error:</span>
                                                <%=locals.validationMessages.clientSecret %>
                                            </p>
                                            <% } %>
                                        <a href="" class="govuk-link pull-right" id="generate-client-secret">Regenerate</a>
                                    </div>

                                    <div class="show-password full-width" id="secret-input">
                                        <input
                                            class="password-input form-control read-only-input govuk-input govuk-!-margin-bottom-2
                                            govuk-!-width-three-quarters"
                                            id="clientSecret"
                                            name="clientSecret"
                                            type="password"
                                            value="<%=locals.service.clientSecret%>"
                                            readonly="readonly" />
                                    </div>
                                </div>
                            </dd>
                        </div> 
                    </dl>
                </fieldset>

                <fieldset  class="govuk-fieldset govuk-!-margin-top-3">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        API
                    </legend>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                <label class="govuk-label govuk-label--s" for="apiSecret">
                                    Secret
                                </label>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div
                                    class="govuk-form-group <%= (locals.validationMessages.apiSecret !== undefined) ? 'govuk-form-group--error' : ''%>">
                                    <div>
                                        <% if (locals.validationMessages.apiSecret !== undefined){ %>
                                            <p id="validation-api-secret" class="govuk-error-message">
                                                <span class="govuk-visually-hidden">Error:</span>
                                                <%=locals.validationMessages.apiSecret %>
                                            </p>
                                            <% } %>
                                        <a href="" class="pull-right" id="generate-api-secret">Regenerate</a>
                                    </div>
                                    <div class="show-password" id="secret-input">
                                        <input
                                            class="form-control read-only-input govuk-input password-input govuk-input govuk-!-margin-bottom-2
                                            govuk-!-width-three-quarters"
                                            id="apiSecret"
                                            name="apiSecret"
                                            type="password"
                                            value="<%=locals.service.apiSecret%>"
                                            readonly="readonly" />
                                    </div>
                                </div>
                            </dd>
                        </div>
                    </dl>
                </fieldset>

                <div class="govuk-button-group auto-scroll-dest">
                    <button type="submit" class="govuk-button" id="saveButton" data-module="govuk-button" disabled>Save</button>
                    <a href="<%= locals.backLink %>" class="govuk-button govuk-button--secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
