<div class="govuk-width-container govuk-!-margin-top-9">
    <% if (locals.flash.info) { %>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div id="notification-wrapper" class="govuk-notification-banner govuk-notification-banner--success govuk-!-margin-bottom-0" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <span class="close-button">x</span>
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            Success
                        </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <p class="govuk-body">
                            <%=locals.flash.info%>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl govuk-!-margin-top-0 text-break">
                <span class="govuk-caption-xl"><%=locals.service.name%></span>
                Service configuration
            </h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <form method="post" class="prevent-form-double-submission" id="form-service-config">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                <fieldset  class="govuk-fieldset govuk-!-margin-top-3">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Service details
                    </legend>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                <label for="name" class="govuk-label govuk-label--s">
                                    Service name
                                </label>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div
                                    class="govuk-form-group <%= (locals.validationMessages.name !== undefined) ? 'govuk-form-group--error' : ''%>">
                                    <% if (locals.validationMessages.name !== undefined) { %>
                                    <span id="validation-name" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span>
                                        <%=locals.validationMessages.name %>
                                    </span>
                                    <% } %>
                                    <input
                                        class="form-control inputConfig govuk-input"
                                        id="name"
                                        name="name"
                                        type="text"
                                        value="<%=locals.service.name%>" />
                                </div>
                            </dd>
                        </div>
    
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                <label for="description" class="govuk-label govuk-label--s">
                                    Description
                                </label>
                                <div class="govuk-hint">
                                    (<a class="govuk-link" href="<%= locals.urls.help%>/contact-us">Contact us</a> to request a change)
                                </div>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div
                                    class="govuk-form-group <%= (locals.validationMessages.description !== undefined) ? 'govuk-form-group--error' : ''%>">
                                    <% if (locals.validationMessages.description !== undefined){ %>
                                    <span id="validation-description" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span>
                                        <%=locals.validationMessages.description %>
                                    </span>
                                    <% } %>
    
                                    <textarea
                                        disabled
                                        class="govuk-textarea form-control inputConfig"
                                        id="description"
                                        name="description"
                                        rows="5"
                                        style="resize: none">
                                        <%=locals.service.description%>
                                    </textarea>
                                </div>
                            </dd>
                        </div>
    
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                <label for="serviceHome" class="govuk-label govuk-label--s">
                                    Home Url
                                </label>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div
                                    class="govuk-form-group <%= (locals.validationMessages.serviceHome !== undefined) ? 'govuk-form-group--error' : ''%>">
                                    <% if (locals.validationMessages.serviceHome !== undefined){ %>
                                    <span id="validation-homeUrl" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span>
                                        <%=locals.validationMessages.serviceHome %>
                                    </span>
                                    <% } %>
                                    <input
                                        class="form-control inputConfig govuk-input"
                                        id="serviceHome"
                                        name="serviceHome"
                                        type="text"
                                        value="<%=locals.service.serviceHome%>" />
                                </div>
                            </dd>
                        </div>
    
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                <label for="postResetUrl" class="govuk-label govuk-label--s">
                                    Post-reset Url
                                </label>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div
                                    class="govuk-form-group <%= (locals.validationMessages.postResetUrl !== undefined) ? 'govuk-form-group--error' : ''%>">
                                    <% if (locals.validationMessages.postResetUrl !== undefined){ %>
                                    <span id="validation-postResetUrl" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span>
                                        <%=locals.validationMessages.postResetUrl %>
                                    </span>
                                    <% } %>
    
                                    <input
                                        class="form-control inputConfig govuk-input"
                                        id="postResetUrl"
                                        name="postResetUrl"
                                        type="text"
                                        value="<%=locals.service.postResetUrl%>" />
                                </div>
                            </dd>
                        </div>
                    </dl>
                </fieldset>

                <fieldset  class="govuk-fieldset govuk-!-margin-top-3">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        OpenID Connect
                    </legend>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                <label for="clientId" class="govuk-label govuk-label--s">
                                    Client Id
                                </label>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div
                                    class="govuk-form-group <%= (locals.validationMessages.clientId !== undefined) ? 'govuk-form-group--error' : ''%>">
                                    <% if (locals.validationMessages.clientId !== undefined){ %>
                                    <span id="validation-clientId" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span>
                                        <%=locals.validationMessages.clientId %>
                                    </span>
                                    <% } %>

                                    <input
                                        class="form-control inputConfig govuk-input"
                                        id="clientId"
                                        name="clientId"
                                        type="text"
                                        value="<%=locals.service.clientId%>" />
                                </div>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                <label for="clientSecret" class="govuk-label govuk-label--s">
                                    Client secret
                                </label>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div
                                    class="govuk-form-group <%= (locals.validationMessages.clientSecret !== undefined) ? 'govuk-form-group--error' : ''%>">
                                    <a href="" class="govuk-link pull-right" id="generate-client-secret">Regenerate</a>
                                    <% if (locals.validationMessages.clientSecret !== undefined){ %>
                                    <span id="validation-clientSecret" class="govuk-error-message">
                                        <span class="govuk-visually-hidden">Error:</span>
                                        <%=locals.validationMessages.clientSecret %>
                                    </span>
                                    <% } %>

                                    <div class="show-password full-width" id="secret-input">
                                        <input
                                            class="password-input form-control read-only-input govuk-input"
                                            id="clientSecret"
                                            name="clientSecret"
                                            type="password"
                                            value="<%=locals.service.clientSecret%>"
                                            readonly="readonly" />
                                    </div>
                                </div>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                <span class="govuk-label govuk-label--s">Redirect Urls</span>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div
                                    id="redirect-url"
                                    class="govuk-form-group <%= (locals.validationMessages.redirect_uris !== undefined) ? 'govuk-form-group--error' : '' %>">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-visually-hidden">Redirect Urls</legend>
                                        <a href="" class="govuk-link pull-right" id="add-redirect">Add Url</a>
                                    <% if (locals.service.redirectUris.length > 0) { %>
                                        <% if (locals.validationMessages.redirect_uris !== undefined) { %>
                                        <span id="validation-redirect_uris" class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span>
                                            <%=locals.validationMessages.redirect_uris %>
                                        </span>
                                        <% } %>
                                        <% for (let i=0; i < locals.service.redirectUris.length; i++) { 
                                            const redirect_uri = locals.service.redirectUris[i];
                                        %>
                                            <label for="redirect-<%=i%>" class="govuk-label govuk-visually-hidden">
                                                Redirect Url
                                            </label>
                                            <p class="govuk-body">
                                                <input
                                                    class="form-control inputConfig govuk-input"
                                                    id="redirect-<%=i%>"
                                                    name="redirect_uris"
                                                    value="<%=redirect_uri%>" />
                                            </p>
                                        <% } %>
                                    <% } else { %>
                                        <label for="redirect" class="govuk-label govuk-visually-hidden">
                                            Redirect Url
                                        </label>
                                        <% if (locals.validationMessages.redirect_uris !== undefined) { %>
                                        <span id="validation-homeUrl" class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span>
                                            <%=locals.validationMessages.redirect_uris%>
                                        </span>
                                        <% } %>
                                        <p class="govuk-body">
                                            <input
                                                class="form-control inputConfig govuk-input"
                                                id="redirect"
                                                name="redirect_uris" />
                                        </p>
                                    <% } %>
                                    </fieldset>
                                </div>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                <span class="govuk-label govuk-label--s">Logout redirect Urls</span>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div
                                    id="logout-url"
                                    class="govuk-form-group <%= (locals.validationMessages.post_logout_redirect_uris !== undefined) ? 'govuk-form-group--error' : ''%>">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-visually-hidden">Logout redirect Urls</legend>
                                    <a href="" class="govuk-link pull-right" id="add-logout">Add Url</a>
                                    <% if (locals.service.postLogoutRedirectUris.length > 0) { %>
                                        <% if (locals.validationMessages.post_logout_redirect_uris !== undefined){ %>
                                        <span id="validation-homeUrl" class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span>
                                            <%=locals.validationMessages.post_logout_redirect_uris%>
                                        </span>
                                        <% } %>
                                        <% for (let i=0; i < locals.service.postLogoutRedirectUris.length; i++) {
                                            const logout_redirect = locals.service.postLogoutRedirectUris[i];
                                        %>
                                            <label for="post_logout_redirect_uris-<%=i%>" class="govuk-label govuk-visually-hidden">
                                                Logout redirect Url
                                            </label>
                                            <p class="govuk-body">
                                                <input
                                                    class="form-control inputConfig govuk-input"
                                                    id="post_logout_redirect_uris-<%=i%>"
                                                    name="post_logout_redirect_uris"
                                                    value="<%=logout_redirect%>" />
                                            </p>
                                        <% } %>
                                    <% } else { %>
                                        <label for="post_logout_redirect_uris" class="govuk-label govuk-visually-hidden">
                                            Redirect Url
                                        </label>
                                        <% if (locals.validationMessages.post_logout_redirect_uris !== undefined) { %>
                                        <span id="validation-homeUrl" class="govuk-error-message">
                                            <span class="govuk-visually-hidden">Error:</span>
                                            <%=locals.validationMessages.post_logout_redirect_uris%>
                                        </span>
                                        <% } %>
                                        <p class="govuk-body">
                                            <input
                                                class="form-control inputConfig govuk-input"
                                                id="post_logout_redirect_uris"
                                                name="post_logout_redirect_uris" />
                                        </p>
                                    <% } %>
                                    </fieldset>
                                </div>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                <span class="govuk-label govuk-label--s">Grant types</span>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-visually-hidden">Grant types</legend>
                                        <div class="govuk-checkboxes">

                                            <div class="multiple-choice govuk-checkboxes__item">
                                                <input id="authorization_code" class="govuk-checkboxes__input" type="checkbox"
                                                name="grant_types" value="authorization_code" <%=
                                                (locals.service.grantTypes.indexOf('authorization_code') !== -1) ? 'checked' : ''%>>
                                                <label class="govuk-label govuk-checkboxes__label" for="authorization_code">
                                                    authorization_code
                                                </label>
                                            </div>

                                            <div class="multiple-choice govuk-checkboxes__item">
                                                <input id="implicit" class="govuk-checkboxes__input" type="checkbox"
                                                name="grant_types" value="implicit" <%=
                                                (locals.service.grantTypes.indexOf('implicit') !== -1) ? 'checked' : ''%>>
                                                <label class="govuk-label govuk-checkboxes__label" for="implicit">
                                                    implicit
                                                </label>
                                            </div>
                                            <div class="multiple-choice govuk-checkboxes__item">
                                                <input id="client_credentials" class="govuk-checkboxes__input" type="checkbox"
                                                name="grant_types" value="client_credentials" <%=
                                                (locals.service.grantTypes.indexOf('client_credentials') !== -1) ? 'checked' :
                                                ''%>>
                                                <label class="govuk-label govuk-checkboxes__label" for="client_credentials">
                                                    client_credentials
                                                </label>
                                            </div>
                                            <div class="multiple-choice govuk-checkboxes__item">
                                                <input id="refresh_token" class = "govuk-checkboxes__input" type="checkbox"
                                                name="grant_types" value="refresh_token" <%=
                                                (locals.service.grantTypes.indexOf('refresh_token') !== -1) ? 'checked' : ''%>>
                                                <label class="govuk-label govuk-checkboxes__label" for="refresh_token">
                                                    refresh_token
                                                </label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                <span class="govuk-label govuk-label--s">Response types</span>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="govuk-form-group">
                                    <fieldset class="govuk-fieldset">
                                        <legend class="govuk-fieldset__legend govuk-visually-hidden">Response types</legend>
                                        <div class="govuk-checkboxes">
                                            <div class="multiple-choice govuk-checkboxes__item">
                                                <input id="code" class ="govuk-checkboxes__input" type="checkbox"
                                                name="response_types" value="code" <%=
                                                (locals.service.responseTypes.indexOf('code') !== -1) ? 'checked' : ''%>>
                                                <label class="govuk-label govuk-checkboxes__label" for="code">code</label>
                                            </div>

                                            <div class="multiple-choice govuk-checkboxes__item">
                                                <input id="id_token" class = "govuk-checkboxes__input" type="checkbox"
                                                name="response_types" value="id_token" <%=
                                                (locals.service.responseTypes.indexOf('id_token') !== -1) ? 'checked' : ''%>>
                                                <label class="govuk-label govuk-checkboxes__label" for="id_token">
                                                    id_token
                                                </label>
                                            </div>
                                            <div class="multiple-choice govuk-checkboxes__item">
                                                <input id="token" class = "govuk-checkboxes__input" type="checkbox"
                                                name="response_types" value="token" <%=
                                                (locals.service.responseTypes.indexOf('token') !== -1) ? 'checked' : ''%>>
                                                <label class="govuk-label govuk-checkboxes__label" for="token">token</label>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </dd>
                        </div>

                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                <label class="govuk-label govuk-label--s" for="tokenEndpointAuthMethod">
                                    Token endpoint authentication method
                                </label>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div class="govuk-form-group">
                                    <select
                                        class="govuk-select"
                                        id="tokenEndpointAuthMethod"
                                        name="tokenEndpointAuthMethod">
                                        <option disabled value>Select token endpoint authentication method</option>
                                        <option <%=((locals.service.tokenEndpointAuthMethod && locals.service.tokenEndpointAuthMethod) === 'client_secret_post') ? 'selected="selected"' : ''%> value="client_secret_post">client_secret_post</option>
                                        <option <%=!locals.service.tokenEndpointAuthMethod ? 'selected="selected"' : ''%>value="">none</option>
                                    </select>
                                </div>
                            </dd>
                        </div>
                    </dl>
                </fieldset>

                <fieldset  class="govuk-fieldset govuk-!-margin-top-3">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        API
                    </legend>
                    <dl class="govuk-summary-list">
                        <div class="govuk-summary-list__row">
                            <dt class="govuk-summary-list__key">
                                <label class="govuk-label govuk-label--s" for="apiSecret">
                                    Secret
                                </label>
                            </dt>
                            <dd class="govuk-summary-list__value">
                                <div
                                    class="govuk-form-group <%= (locals.validationMessages.apiSecret !== undefined) ? 'govuk-form-group--error' : '' %>">
                                    <a href="" class="pull-right" id="generate-api-secret">Regenerate</a>
                                    <% if (locals.validationMessages.apiSecret !== undefined) { %>
                                    <p class="error-message" id="validation-homeUrl">
                                        <%=locals.validationMessages.apiSecret %>
                                    </p>
                                    <% } %>
                                    <div class="show-password" id="secret-input">
                                        <input
                                            class="form-control read-only-input govuk-input password-input"
                                            id="apiSecret"
                                            name="apiSecret"
                                            type="password"
                                            value="<%=locals.service.apiSecret%>"
                                            readonly="readonly" />
                                    </div>
                                </div>
                            </dd>
                        </div>
                    </dl>
                </fieldset>

                <div class="govuk-button-group auto-scroll-dest">
                    <button type="submit" class="govuk-button">Save</button>
                    <a href="<%= locals.backLink %>" class="govuk-button govuk-button--secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
