<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
    <% if (locals.flash.info) { %>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div id="notification-wrapper" class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <span class="close-button">x</span>
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            Success
                        </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <p class="govuk-body">
                            <%=locals.flash.info%>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
    <% if (locals.flash.title && locals.flash.heading && locals.flash.message) { %>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div id="notification-wrapper" class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <span class="close-button">x</span>
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            <%= locals.flash.title %>
                        </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <h3 class="govuk-notification-banner__heading">
                            <%= locals.flash.heading %>
                        </h3>
                        <p class="govuk-body">
                            <%= locals.flash.message %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
        <h1 class="govuk-heading-l text-break">
            <span class="govuk-caption-l"><%= locals.currentService.name %></span>
            <%= user.name %>
            <%= area === 'audit' ? 'sign in audit' : '' %>
        </h1>
        <dl class="inline">
            <dt class="govuk-label">Account status:</dt>
            <dd class="govuk-label">
                <strong class="govuk-tag govuk-tag--<%= user.status.tagColor %>">
                    <%=user.status.description%>
                </strong>
            </dd>
        </dl>
        <dl class="inline">
            <dt class="govuk-label">Email:</dt>
            <dd class="govuk-label"><%= user.email %></dd>
            <dt class="govuk-label">Last login:</dt>
            <dd class="govuk-label">
                <%= user.lastLogin ? user.lastLogin : 'Never' %>
            </dd>
        </dl>
    </div>

    <div class="govuk-grid-column-one-quarter">
    <% if (!area==='audit' || !locals.isInvitation) { %>
        <aside id="actions" class="govuk-!-margin-top-0">
            <h2 class="govuk-heading-m">Related actions</h2>
            <nav aria-label="Related actions">
                <ul class="govuk-list">
                    <li>
                    <% if (area==='audit' ) { %>
                        <a id="change-service" class="govuk-link-bold" href="/services/<%= locals.serviceId %>/users/<%=user.id%>/organisations<%= locals.returnOrgId ? `?returnOrg=${locals.returnOrgId}` : '' %>">View user details</a>
                    <% } else { %>
                        <a id="change-service" class="govuk-link-bold" href="/services/<%= locals.serviceId %>/users/<%=user.id%>/audit<%= locals.returnOrgId ? `?returnOrg=${locals.returnOrgId}` : '' %>">View user sign in audit</a>
                    <% } %>
                    </li>
                </ul>
            </nav>
        </aside>
    <% } %>
    </div>
</div>
