<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
    <% if (locals.flash.info) { %>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div id="notification-wrapper" class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                    <div class="govuk-notification-banner__header">
                        <span class="close-button">x</span>
                        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                            Success
                        </h2>
                    </div>
                    <div class="govuk-notification-banner__content">
                        <p class="govuk-body">
                            <%=locals.flash.info%>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
        <h1 class="govuk-heading-l text-break">
            <span class="govuk-caption-l"><%= currentService.name %></span>
            <%= user.name %>
        </h1>
        <dl class="inline">
            <dt class="govuk-label">Account Status:</dt>
            <%
                let tagColour = 'govuk-tag--'; 
                if(user.status.id === 1) {
                    tagColour += 'green';
                } else if(user.status.id === 0) {
                    tagColour += 'red';
                } else if(user.status.id === -1) {
                    tagColour += 'blue';
                } else if(user.status.id === -2) {
                    tagColour += 'orange';
                }
            %>
            <dd class="govuk-label govuk-tag <%= tagColour %>"><strong><%=user.status.description%></strong></dd>
        </dl>
        <dl class="inline">
            <dt class="govuk-label">Email:</dt>
            <dd class="govuk-label"><%= user.email %></dd>
            <dt class="govuk-label">Last login:</dt>
            <dd class="govuk-label">
                <%= user.lastLogin ? moment(user.lastLogin).format('DD MMM YYYY, HH:mm:ss') :
                'Never' %>
            </dd>
        </dl>
    </div>

    <div class="govuk-grid-column-one-quarter">
        <aside id="actions" class="govuk-!-margin-top-0">
            <h2 class="govuk-heading-m">Related actions</h2>
            <ul class="govuk-list">
               <!-- TODO: update redirection link when the sing-in audit page will be created -->
                <li>
                    <a id="change-service" class="govuk-link-bold" href="web-service-sync">View user sign in audit</a>
                </li>
                <% if(locals.isInvitation && !locals.user.deactivated) { %>
                <li>
                    <a id="change-service" class="govuk-link-bold" href="resend-invitation">
                        Resend invitation email
                    </a>
                </li>
                <% } %>
            </ul>
        </aside>
    </div>
</div>
