<% if (locals.flash.info) { %>
<div class="row">
    <div class="col-12">
        <div class="notification notification-success"><%= locals.flash.info %></div>
    </div>
</div>
<% } %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl govuk-!-margin-top-0 text-break">
            <span class="govuk-caption-xl"><%= user.email %></span>
            <%= user.name %>
        </h1>
        <dl class="inline">
            <dt class="govuk-label">Last login:</dt>
            <dd class="govuk-label">
                <%= locals.user.lastLogin ? locals.moment(locals.user.lastLogin).format('DD MMM YYYY, HH:mm:ss') :
                'Never' %>
            </dd>
            <dt class="govuk-label">Account status:</dt>
            <dd class="govuk-label"><%= user.status.description %></dd>
            <dt class="govuk-label">Number of logins in last 12 months:</dt>
            <dd class="govuk-label"><%= user.loginsInPast12Months.successful %></dd>
        </dl>
    </div>

    <div class="govuk-grid-column-one-quarter">
        <aside id="actions" class="govuk-!-margin-top-0">
            <h2 class="govuk-heading-m">Actions</h2>
            <ul class="govuk-list">
                <li>
                    <% if(!locals.isInvitation) { %>
                    <a id="change-service" class="govuk-link-bold" href="web-service-sync">Send WS Sync</a>
                    <% } else if (locals.isInvitation && !locals.user.deactivated) { %>
                    <a id="change-service" class="govuk-link-bold" href="resend-invitation">
                        Resend invitation email
                    </a>
                    <% } %>
                </li>
            </ul>
        </aside>
    </div>
</div>
