<div class="govuk-width-container govuk-main-wrapper">
	<%- include('summaryPartial', {area: 'organisations', user: locals.user,
	isInvitation: locals.isInvitation, service: locals.currentService}); %>
	<div class="govuk-grid-row govuk-!-margin-top-6">
		<div class="govuk-grid-column-full">
			<% if (locals.organisations.length === 0) { %>
			<tr class="govuk-table__row">
				<td class="govuk-table__cell" colspan="3">
					<div class="empty-state">
						<p class="govuk-body">
							<%= user.name %> is not associated with any organisations
						</p>
					</div>
				</td>
			</tr>
			<% }%> <% for (let i = 0; i < locals.organisations.length; i++) { %> <%
			const org = locals.organisations[i];%>
			<div class="govuk-grid-row govuk-!-margin-top-6 govuk-!-margin-bottom-6">
				<div class="govuk-grid-column-full">
					<dl class="inline">
						<dt class="govuk-label"><%=org.name%></dt>
						<dt class="govuk-label govuk-!-font-weight-regular">Legacy ID:</dt>
						<dd class="govuk-label"><%= org.numericIdentifier %></dd>
						<dt class="govuk-label govuk-!-font-weight-regular">Permission:</dt>
						<% if (org.role) { %>
						<dd class="govuk-label"><%=org.role.name%></dd>
						<% } else { %>
						<dd class="govuk-label">Unknown</dd>
						<% } %> <% let isOrgAssociatdWithCurrentService =
						org.services.some(s => s.id === currentService.id); %> <% if
						(!isOrgAssociatdWithCurrentService) { %>
						<dt class="govuk-label"><a href="#">Give access to service</a></dt>
						<% }%>
					</dl>

					<table
						class="data govuk-table cell-align-top govuk-!-margin-bottom-9"
					>
						<thead class="govuk-table__head">
							<tr class="govuk-table__row">
								<th scope="col" class="govuk-table__header width-35">
									Service
								</th>
							
								<th scope="col" class="govuk-table__header width-45">Role</th>
						
								<th
									scope="col"
									class="govuk-table__header width-20 govuk-table__header--numeric"
								>
									Access granted on
								</th>
							</tr>
						</thead>
						<tbody>
							<% if (org.services.length === 0) { %>
							<tr class="govuk-table__row">
								<td class="govuk-table__cell" colspan="3">
									<div class="empty-state">
										<p class="govuk-body">
											No services associated for this organisation
										</p>
									</div>
								</td>
							</tr>
							<% } else { %> <% for (let i = 0; i < org.services.length; i++) {
							%> <% const service = org.services[i];%>
							<tr class="govuk-table__row">
								<td class="govuk-table__cell">
									<ul class="govuk-list govuk-!-margin-bottom-0">
										<li
											class="govuk-!-font-weight-bold govuk-!-margin-top-2 govuk-!-margin-bottom-2"
										>
											<%=service.name%>
										</li>

										<% if (service.id === currentService.id) { %>
										<li
											class="govuk-!-font-weight-bold govuk-!-margin-top-2 govuk-!-margin-bottom-2"
										>
											<a href="#" class="govuk-link">Edit service</a>
										</li>
										<% }%>
									</ul>
								</td>
								<% if (service.serviceRoles.length > 0) { %>

								<td class="govuk-table__cell">
									<ul class="govuk-list govuk-!-margin-bottom-0">
										<% for (let i = 0; i < service.serviceRoles.length; i++) {
										%> <% const serviceRole = service.serviceRoles[i];%>
										<li
											class="govuk-!-font-weight-bold govuk-!-margin-top-2 govuk-!-margin-bottom-2"
										>
											<%=serviceRole.name%>
										</li>
										<% } %>
									</ul>
								</td>
								<% } else { %>
								<td class="govuk-table__cell">No Service Role</td>
								<% } %>
								<td class="govuk-table__cell govuk-table__cell--numeric">
									<%=service.grantedAccessOn ?
									moment(service.grantedAccessOn).format('DD MMM YYYY') :
									'Unknown'%> %>
								</td>
							</tr>
							<% } %> 
                            <% } %>
						</tbody>
					</table>
				</div>
			</div>
			<% } %>
		</div>
	</div>
</div>
