<% function generateHiddenInputs(array, inputName) { %>
    <% if (array && array.length > 0) { %>
        <% array.forEach(option => { %>
            <input type="hidden" name="<%= inputName %>" value="<%= option %>">
        <% }) %>
    <% } %>
<% } %>

<div class="govuk-width-container govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <% if (locals.flash.info) { %>
            <div id="notification-wrapper" class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <span class="close-button">x</span>
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                        Success
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <p class="govuk-body">
                        <%=locals.flash.info%>
                    </p>
                </div>
            </div>
            <% } %>
            <h1 class="govuk-heading-xl govuk-!-margin-top-0 text-break">
                <span class="govuk-caption-xl"><%=locals.service.name%></span>
                User management
            </h1>

            <%
            const paginationModel = {
                csrfToken,
                currentPage: locals.page,
                numberOfPages: locals.numberOfPages,
                totalNumberOfResults: locals.totalNumberOfResults,
                numberOfResultsOnPage: locals.users.length,
                hideLastPage: true,
                data: [
                    { key: 'criteria', value: locals.criteria },
                    { key: 'sort', value: locals.sortBy },
                    { key: 'sortDir', value: locals.sortOrder },
                    { key: 'showFilters', value: locals.showFilters },
                    { key: 'showServices', value: locals.services === 'current' ? 'current' : 'all' }
                ]
            }
            const addToPaginationData = (array, key, paginationData) => {
                if (array && array.length > 0) {
                    array.forEach(item => {
                        paginationData.push({ key, value: `${item}` });
                    });
                }
            };

            addToPaginationData(locals.selectedOrganisationCategories, 'organisationCategories', paginationModel.data);
            addToPaginationData(locals.selectedLastLoginIntervals, 'lastLogin', paginationModel.data);
            addToPaginationData(locals.selectedAccountStatuses, 'statusId', paginationModel.data);
            %>

            <form method="post" id="form-user-search">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <input type="hidden" name="services" value="<%= locals.services %>" />
                <input type="hidden" name="showFilters" value="<%= locals.showFilters %>"/>
                <% generateHiddenInputs(locals.selectedOrganisationCategories, 'organisationCategories') %>
                <% generateHiddenInputs(locals.selectedLastLoginIntervals, 'lastLogin') %>
                <% generateHiddenInputs(locals.selectedAccountStatuses, 'statusId') %>

                <fieldset class="govuk-fieldset">
                    <div class="govuk-form-group">
                        <h2 class="govuk-label-wrapper">
                            <label for="criteria" class="govuk-label govuk-label--m">
                                Search users
                            </label>
                        </h2>
                        <div id="event-name-hint" class="govuk-hint">
                            Search by name, email, legacy ID or organisation name
                        </div>
                        <input
                            class="govuk-input govuk-!-width-three-quarters"
                            type="text"
                            id="criteria"
                            name="criteria"
                            value="<%= criteria %>" />
                        <button type="submit" class="govuk-button" data-module="govuk-button">
                            Search
                        </button>
                        <p class="govuk-body govuk-!-margin-bottom-2">
                            <%= locals.services === 'current'
                                ? 'Currently viewing all users of ' + locals.service.name 
                                : 'Currently viewing all users with access to DfE Sign-in' %>
                        </p>
                        <p class="govuk-body govuk-!-margin-bottom-7">
                            <button type="submit" class="button-link govuk-!-font-weight-bold" name="showServices" value="<%= locals.services === 'current' ? 'all' : 'current' %>">
                                <%= locals.services === 'current' 
                                    ? 'Show all users' 
                                    : 'Only show users with access to my service' %>
                            </button>
                        </p>
                        
                    </div>
                </fieldset>
            </form>
            <form method="post" class="show-filters">
                <% generateHiddenInputs(locals.selectedOrganisationCategories, 'organisationCategories') %>
                <% generateHiddenInputs(locals.selectedLastLoginIntervals, 'lastLogin') %>
                <% generateHiddenInputs(locals.selectedAccountStatuses, 'statusId') %>

                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                <input type="hidden" name="criteria" value="<%= locals.criteria %>"/>
                <input type="hidden" name="sort" value="<%= locals.sortBy %>"/>
                <input type="hidden" name="sortDir" value="<%= locals.sortOrder %>"/>
                <input type="hidden" name="showServices" value="<%= locals.services === 'current' ? 'current' : 'all' %>"/>
                <input type="hidden" name="page" value="<%= locals.page %>"/>
                <input type="hidden" name="showFilters" value="<%= !showFilters %>"/>
                <input type="hidden" name="isFilterToggle" value="true"/>
                <button type="submit" class="govuk-button govuk-button--secondary"><%= (showFilters ? 'Hide' : 'Show') %> filters</button>
            </form>
        </div>
    </div>

    <div class="govuk-grid-row">
        <% if (showFilters) { %>
            <div class="govuk-grid-column-one-third">
                <% 
                const filterCategories = [
                    { name: 'Organisation category', inputName:'organisationCategories', options: organisationCategories },
                    { name: 'Last login', inputName:'lastLogin', options: lastLoginIntervals },
                    { name: 'Account status', inputName:'statusId', options: accountStatuses }       
                ]
                %>
                
                <% const clearFiltersUri = `?page=${locals.page}&criteria=${locals.criteria}&sort=${locals.sortBy}&sortDir${locals.sortOrder}&showFilters=${locals.showFilters}&showServices=${locals.services === 'current' ? 'current' : 'all' }`%>

                <form method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                    <input type="hidden" name="criteria" value="<%= locals.criteria %>"/>
                    <input type="hidden" name="sort" value="<%= locals.sortBy %>"/>
                    <input type="hidden" name="sortDir" value="<%= locals.sortOrder %>"/>
                    <input type="hidden" name="showServices" value="<%= locals.services === 'current' ? 'current' : 'all' %>"/>
                    <input type="hidden" name="page" value="1"/>
                    <input type="hidden" name="showFilters" value="<%= locals.showFilters %>"/>
                
                    <%- include('../../layouts/filters.ejs', { filterCategories: filterCategories, clearFiltersUri:clearFiltersUri }) %>
                </form>
            </div>
        <% } %>
        <div class="<%= showFilters ? 'govuk-grid-column-two-thirds govuk-!-padding-left-0 govuk-!-padding-right-0' : 'govuk-grid-column-full' %>">
            <%- include('../../layouts/pagination', paginationModel); %>
            <table class="govuk-table data">
                <thead class="govuk-table__head">

                    <% 
                    let orgCategoryParam = "";
                    let lastLoginParam = "";
                    let accountStatusParam = "";

                    if (locals.selectedOrganisationCategories && locals.selectedOrganisationCategories.length > 0) {
                        orgCategoryParam = locals.selectedOrganisationCategories.map(category => `organisationCategories=${category}`).join('&');
                    }

                    if (locals.selectedLastLoginIntervals && locals.selectedLastLoginIntervals.length > 0) {
                        lastLoginParam = locals.selectedLastLoginIntervals.map(interval => `lastLogin=${interval}`).join('&');
                    }
                    

                    if (locals.selectedAccountStatuses && locals.selectedAccountStatuses.length > 0) {
                        accountStatusParam = locals.selectedAccountStatuses.map(status => `statusId=${status}`).join('&');
                    }

                    let baseSortUri = `?criteria=${criteria}&page=${page}&services=${services}&showFilters=${locals.showFilters}`

                    if (orgCategoryParam) {
                        baseSortUri += `&${orgCategoryParam}`;
                    }

                    if (lastLoginParam) {
                        baseSortUri += `&${lastLoginParam}`;
                    } 
                    
                    if (accountStatusParam) {
                        baseSortUri += `&${accountStatusParam}`
                    }
                    %>
                    <tr class="govuk-table__row sortable">
                        <th scope="col" class="govuk-table__header width-18">
                            <a
                                href="<%=baseSortUri%>&sort=name&sortDir=<%= sort.name.nextDirection %>"
                                class="govuk-link <% if (sort.name.applied) { %>sorted dir-<%= (sort.name.nextDirection === 'desc') ? 'd' : 'a' %> <% } %>">
                                Name
                            </a>
                        </th>
                        <th scope="col" class="govuk-table__header width-32">
                            <a
                                href="<%=baseSortUri%>&sort=email&sortDir=<%= sort.email.nextDirection %>"
                                class="govuk-link <% if (sort.email.applied) { %>sorted dir-<%= (sort.email.nextDirection === 'desc') ? 'd' : 'a' %> <% } %>">
                                Email
                            </a>
                        </th>
                        <th scope="col" class="govuk-table__header width-20">
                                Organisation
                        </th>
                        <th scope="col" class="govuk-table__header width-8">
                            Permission level
                        </th>
                        <th scope="col" class="govuk-table__header width-10">
                            <a
                                href="<%=baseSortUri%>&sort=status&sortDir=<%= sort.status.nextDirection %>"
                                class="govuk-link <% if (sort.status.applied) { %>sorted dir-<%= (sort.status.nextDirection === 'desc') ? 'd' : 'a' %> <% } %>">
                                Status
                            </a>
                        </th>
                        <th scope="col" class="govuk-table__header width-12 govuk-table__header--numeric">
                            <a
                                href="<%=baseSortUri%>&sort=lastlogin&sortDir=<%= sort.lastLogin.nextDirection %>"
                                class="govuk-link <% if (sort.lastLogin.applied) { %>sorted dir-<%= (sort.lastLogin.nextDirection === 'desc') ? 'd' : 'a' %> <% } %>">
                                Last Login
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <% if(locals.users.length === 0 && locals.criteria) { %>
                    <tr class="govuk-table__row"></tr>
                        <td class="govuk-table__cell" colspan="6">
                            <div class="empty-state">
                                <p class="govuk-body">No users found</p>
                            </div>
                        </td>
                    </tr>
                    <% } %>
                    <%
                        for (let i = 0; i < locals.users.length; i++) {
                            const numberOfOrgs = locals.users[i].organisations.length;
                            let noBorderClass = numberOfOrgs > 1 ? ' no-border' : '' ;
                    %>
                        <tr class="govuk-table__row">
                            <th scope="row" class="govuk-table__header govuk-!-padding-bottom-4 govuk-!-padding-top-4"<% if (numberOfOrgs > 1) { %> rowspan="<%= numberOfOrgs %>"<% } %>>
                                    <a
                                        class="govuk-link breakable"
                                        href="/services/<%= locals.serviceId %>/users/<%= users[i].id %>/organisations">
                                        <%= users[i].name %>
                                    </a>
                            </th>

                            <td class="govuk-table__cell govuk-!-font-size-16"<% if (numberOfOrgs > 1) { %> rowspan="<%= numberOfOrgs %>"<% } %>>
                                <span class="breakable"><%= users[i].email %></span>
                            </td>
                            <td class="govuk-table__cell govuk-!-font-size-16<%= noBorderClass %>">
                                <strong>
                                    <%= numberOfOrgs ? users[i].organisations[0].name : 'Unknown' %>
                                </strong>
                            </td>
                            <td class="govuk-table__cell govuk-!-font-size-16<%= noBorderClass %>">
                                <%= numberOfOrgs ? users[i].organisations[0].roleName : '' %>
                            </td>
                            <td class="govuk-table__cell govuk-!-font-size-16"<% if (numberOfOrgs > 1) { %> rowspan="<%= numberOfOrgs %>"<% } %>>
                               <strong class="govuk-tag govuk-tag--<%= users[i].status.tagColor %>"> <%= users[i].status.description %> </strong> 
                            </td>
                            <td class="govuk-table__cell govuk-!-font-size-16 govuk-table__cell--numeric"<% if (numberOfOrgs > 1) { %> rowspan="<%= numberOfOrgs %>"<% } %>>
                                <%= users[i].formattedLastLogin ? users[i].formattedLastLogin : 'Never' %>
                            </td>
                        </tr>
                        <%
                            for (let j = 1; j < numberOfOrgs; j++) {
                                if (j === numberOfOrgs - 1) {
                                    noBorderClass = '' ;
                                }
                        %>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell govuk-!-font-size-16<%= noBorderClass %>">
                                    <strong>
                                        <%= users[i].organisations[j].name %>
                                    </strong>
                                </td>
                                <td class="govuk-table__cell govuk-!-font-size-16<%= noBorderClass %>">
                                    <%= users[i].organisations[j].roleName %>
                                </td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
            <%- include('../../layouts/pagination', paginationModel); %>
        </div>
    </div>
</div>
